<div class="golf-theme">
  <h2 style="color: red" mat-dialog-title i18n="@@registerPlr-notFound">Player not found!</h2>

  <mat-dialog-content [formGroup]="form" style="width: 290px;">
    <mat-form-field>
      <input matInput i18n-placeholder="@@registerPlr-nick" placeholder="Player nick" formControlName="nick" />
      @if (f.nick.errors && f.nick.errors.required) {
        <mat-error i18n="@@registerPlr-nickReq">Nick is required</mat-error>
      }
      @if (f.nick.errors && f.nick.errors.maxlength) {
        <mat-error i18n="@@registerPlr-nickTooLng">Nick can be up to 10 characters long</mat-error>
      }
    </mat-form-field>

    <br/>
    <br/>


    <app-common-dialog [form] = 'form'></app-common-dialog>

    <br/>
    <br/>


    <mat-checkbox formControlName="female" (click)="femaleClick()" i18n="@@registerPlr-fem" onKeyDown="sexClick(true)">
      Female
    </mat-checkbox>
    &nbsp;
    <mat-checkbox formControlName="male" (click)="maleClick()" i18n="@@registerPlr-mal" onKeyDown="sexClick(false)">
      Male
    </mat-checkbox>

    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="close()" i18n="@@registerPlr-cancel">
        Cancel
      </button>
      &nbsp;
      <button mat-raised-button color="primary" (click)="save()" i18n="@@registerPlr-save">Save</button>
    </mat-dialog-actions>
    <br />
    <p>
      <span i18n="@@registerPlr-msg1">Create the new player or</span><br />
      <span i18n="@@registerPlr-msg2">cancel and search again. The</span><br />
      <span i18n="@@registerPlr-msg3">password will be 'welcome'.</span><br />
    </p>
  </mat-dialog-content>
</div>
