<h2>Registration of the new player</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nick">Nick</label>
    <input type="text" formControlName="nick" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.nick.errors }" />
    <div *ngIf="submitted && f.nick.errors" class="invalid-feedback">
      <div *ngIf="f.nick.errors.required">Nick is required</div>
      <div *ngIf="f.nick.errors.maxlength">Nick can be up to 10 characters long</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <label for="whs">WHS (handicap)</label>
    <input type="text" formControlName="whs" class="form-control" maxlength="4"
      [ngClass]="{ 'is-invalid': submitted && f.whs.errors }" placeholder="X.X" />
    <div *ngIf="submitted && f.whs.errors" class="invalid-feedback">
      <div *ngIf="f.whs.errors.required">WHS is required</div>
      <div *ngIf="f.whs.errors.max">WHS is caannot be higer than 54</div>
      <div *ngIf="f.whs.errors.min">WHS is caannot be lower than -5</div>
      <div *ngIf="f.whs.errors.pattern">Provide valid value</div>
    </div>
  </div>
  <div class="form-row">
    &nbsp;
    <div class="form-group custom-control custom-checkbox custom-checkbox-green">
      <input type="checkbox" class="custom-control-input custom-control-input-green" id="customCheck1" (click)="sexClick(true)" formControlName="female" >
      <label class="custom-control-label" for="customCheck1">Female</label>
    </div>
    &nbsp;
    &nbsp;
    <div class="form-group custom-control custom-checkbox custom-checkbox-green">
      <input type="checkbox" class="custom-control-input custom-control-input-green" id="customCheck2" (click)="sexClick(false)" formControlName="male">
      <label class="custom-control-label" for="customCheck2">Male</label>
    </div>
  </div>
  <div class="form-group">
    <re-captcha formControlName="recaptchaReactive" siteKey="6Lf-66YZAAAAAJc3serwf1iRoJg6PgTPJazkfNWD"
      [ngClass]="{ 'is-invalid': submitted && f.recaptchaReactive.errors }"></re-captcha>
    <div *ngIf="submitted && f.recaptchaReactive.errors" class="invalid-feedback">
      <div *ngIf="f.recaptchaReactive.errors.required">Please mark the checkbox</div>
    </div>
  </div>
  <div>
    <button [disabled]="loading" class="btn btn-success btn-register">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Register
    </button>
    <a routerLink="/" class="btn btn-link text-success">Cancel</a>
  </div>
</form>
