<h2>Registration of the new player</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nick">Nick</label>
        <input type="text" formControlName="nick" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nick.errors }" />
        <div *ngIf="submitted && f.nick.errors" class="invalid-feedback">
            <div *ngIf="f.nick.errors.required">Nick is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/" class="btn btn-link">Cancel</a>
    </div>
</form>
