# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

# Angular 21 supported browsers  
last 2 Chrome major versions  
last 2 Edge major versions  
last 2 Firefox major versions  
last 2 Safari major versions  
  
# Mobile  
last 2 iOS major versions  
Android >= 13  
  
# Explicit exclusions  
not IE 11  
not Chrome < 110 
