<div *ngIf="display && onlineRounds.length > 0">
  <h2>Active score cards:</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nick</th>
        <th>Course</th>
        <th>Tee Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let round of onlineRounds">
        <td>
          <a
            href="#"
            routerLink="onlineScoreCardView"
            [state]="{ data: { onlineRound: round } }"
          >
            <fa-icon [icon]="faSearchPlus" class="golf-green"></fa-icon>
          </a>
          {{ round.player.nick }}
        </td>
        <td>
          <a
            href="#"
            routerLink="onlineScoreCardView"
            [state]="{ data: { course: round.course } }"
          >
            <fa-icon [icon]="faSearchPlus" class="golf-green"></fa-icon>
          </a>
          {{ round.course.name }}
        </td>
        <td>{{ round.teeTime }}</td>
        <td *ngIf="round.finalized === true">
          Finished
        </td>
        <td *ngIf="round.finalized === false">
          Open
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="display && onlineRounds.length === 0">
  <h2>No active score cards</h2>
</div>
<div *ngIf="display">
  <br />
  <span  *ngIf="display && myOnlineRounds.length === 0">
  <button
    type="button"
    class="btn btn-success"
    routerLink= "/courses" [state]="{ data: { parent: 'addOnlineRound' } }"
  >
    Start Round
  </button>
  </span>
  <span  *ngIf="display && myOnlineRounds.length > 0 && !myOnlineRounds[0].matchPlay">
    <button
      type="button"
      class="btn btn-success"
      [routerLink]="['onlineRound']"
      [state]="{ data: { onlineRounds: myOnlineRounds, course: myOnlineRounds[0].course } }"
    >
      Continue Round
    </button>
  </span>
  <span  *ngIf="display && myOnlineRounds.length > 0 && myOnlineRounds[0].matchPlay">
    <button
      type="button"
      class="btn btn-success"
      [routerLink]="['onlineMatchplay']"
      [state]="{ data: { onlineRounds: myOnlineRounds, course: myOnlineRounds[0].course } }"
    >
      Continue Round
    </button>
  </span>
  &nbsp;
  <button type="button" class="btn btn-success" routerLink="">Cancel</button>
</div>

