@if (!display) {
  <div class="d-flex justify-content-center">
    <span class="spinner-border text-success" style="width: 3rem; height: 3rem;"></span>
  </div>
}
@if (display && onlineRounds.length > 0) {
  <div>
    <h2 i18n="@@onlineScoreCard-cards" i18n="@@onlnScor-todScor">Today's score cards:</h2>
    <ul class="nav nav-tabs" id="myTab">
      <li class="nav-item">
        <button class="nav-link active" id="course-tab" data-bs-toggle="tab" data-bs-target="#course" type="button"
        role="tab" aria-controls="course" aria-selected="true" i18n="@@onlineScoreCard-courses" i18n="@@onlnScor-courses">Courses</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="players-tab" data-bs-toggle="tab" data-bs-target="#players" type="button"
        role="tab" aria-controls="players" aria-selected="false" i18n="@@onlineScoreCard-players" i18n="@@onlnScor-plrs">Players</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" id="MProunds-tab" data-bs-toggle="tab" data-bs-target="#MProunds" type="button"
        role="tab" aria-controls="MProunds" aria-selected="false" i18n="@@onlineScoreCard-mp" i18n="@@onlnScor-mp">MP Rounds</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="course" role="tabpanel" aria-labelledby="course-tab">
        <p></p>
        <table class="table table-striped" aria-describedby="Courses">
          <thead>
            <tr>
              <th id="course" i18n="@@onlineScoreCard-course" i18n="@@onlnScor-course">Course</th>
            </tr>
          </thead>
          <tbody>
            @for (entry of courses | keyvalue; track entry) {
              <tr (click)="viewRound(1, entry.value, null)" onKeyDown="viewRound(1, entry.value, null)">
                <td>
                  <a>
                    <fa-icon [icon]="faSearchPlus" class="golf-green"></fa-icon>
                  </a>
                  {{ entry.value.name}}
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="players" role="tabpanel" aria-labelledby="players-tab">
        <p></p>
        <table class="table table-striped" aria-describedby="List of online rounds">
          <thead>
            <tr>
              <th id="nick" i18n="@@onlineScoreCard-nick" i18n="@@onlnScor-nick">Nick</th>
              <th id="course" i18n="@@onlineScoreCard-course" i18n="@@onlnScor-course">Course</th>
              <th id="teetime">Tee Time</th>
              <th id="status" i18n="@@onlnScor-status">Status</th>
            </tr>
          </thead>
          <tbody>
            @for (round of onlineRounds; track round) {
              @if (!round.matchPlay) {
                <tr (click)="viewRound(2, null, round)" onKeyDown="viewRound(2, entry.value, null)">
                  <td>
                    <a>
                      <fa-icon [icon]="faSearchPlus" class="golf-green"></fa-icon>
                    </a>
                    {{ round.player.nick }}
                  </td>
                  <td>
                    {{ round.course.name }}
                  </td>
                  <td>{{ round.teeTime }}</td>
                  @if (round.finalized === true) {
                    <td i18n="@@onlineScoreCard-finished" i18n="@@onlnScor-finished">
                Finished
              </td>
                  }
                  @if (round.finalized === false) {
                    <td i18n="@@onlineScoreCard-open" i18n="@@onlnScor-open">
                Open
              </td>
                  }
                </tr>
              }
            }
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="MProunds" role="tabpanel" aria-labelledby="MProunds-tab">
        <p></p>
        <table class="table table-striped" aria-describedby="MatchPlay rounds">
          <thead>
            <tr>
              <th id="players" i18n="@@onlineScoreCard-players" i18n="@@onlnScor-plrs">Players</th>
              <th id="course" i18n="@@onlineScoreCard-course">Course</th>
              <th id="teeTime">Tee Time</th>
              <th id="status" i18n="@@onlnScor-status">Status</th>
            </tr>
          </thead>
          <tbody>
            @for (round of onlineRounds; track round) {
              @if (round.matchPlay && round.player.nick != round.nick2) {
                <tr (click)="viewRound(3, round.course, round)" onKeyDown="viewRound(3, entry.value, null)">
                  <td>
                    <a>
                      <fa-icon [icon]="faSearchPlus" class="golf-green"></fa-icon>
                    </a>
                    {{ round.player.nick }}-{{ round.nick2 }}
                  </td>
                  <td>
                    {{ round.course.name }}
                  </td>
                  <td>{{ round.teeTime }}</td>
                  @if (round.finalized === true) {
                    <td i18n="@@onlineScoreCard-finished">
                Finished
              </td>
                  }
                  @if (round.finalized === false) {
                    <td i18n="@@onlineScoreCard-open">
                Open
              </td>
                  }
                </tr>
              }
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
}
@if (display && onlineRounds.length === 0) {
  <div>
    <h2 i18n="@@onlineScoreCard-noCards">No active score cards</h2>
  </div>
}
@if (display) {
  <div>
    <br />
    @if (display && myOnlineRounds.length === 0) {
      <span >
        <button type="button" class="btn btn-success" routerLink= "/courses" [state]="{ data: { parent: 'addOnlineRound' } }" i18n="@@onlineScoreCard-start">
          Start Round
        </button>
        &nbsp;
      </span>
    }
    @if (display && myOnlineRounds.length > 0 && !myOnlineRounds[0].matchPlay) {
      <span>
        <button type="button" class="btn btn-success" (click)="continueRound('onlineRound')" i18n="@@onlineScoreCard-continue">
          Continue Round
        </button>
        &nbsp;
      </span>
    }
    @if (display && myOnlineRounds.length > 0 && myOnlineRounds[0].matchPlay) {
      <span>
        <button type="button" class="btn btn-success" (click)="continueRound('onlineMatchplay')" i18n="@@onlineScoreCard-continue">
          Continue Round
        </button>
        &nbsp;
      </span>
    }
    <button type="button" class="btn btn-success" routerLink="/home" i18n="@@onlineScoreCard-cancel">Cancel</button>
  </div>
}

