<div class="golf-theme">
  <h1 mat-dialog-title i18n="@@confirmDlg-confirmHdr">Confirm</h1>
  <div mat-dialog-content>{{ confirmMessage }}</div>
  <div mat-dialog-content>
    <div mat-dialog-actions>
      @if (makeItDanger) {
        <button  mat-raised-button color="warn" (click)="dialogRef.close(true)" i18n="@@confirmDlg-confirm">
        Confirm
      </button>
      }
      @if (!makeItDanger) {
        <button  mat-raised-button color="primary" (click)="dialogRef.close(true)" i18n="@@confirmDlg-confirmWrn">
        Confirm
      </button>
      }
      &nbsp;
      <button mat-raised-button color="primary" (click)="dialogRef.close(false)" i18n="@@confirmDlg-cancel">
        Cancel
      </button>
    </div>
  </div>
</div>
