<h2>List of last games</h2>
<table id="games-tbl" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games">
      <td>
        <a (click)="onGame(game)">
          <fa-icon [icon]="faSearchPlus" class="golf-green" ></fa-icon>
        </a>
      </td>
      <td>{{ game.gameDate | date: 'short'}}</td>
      <td *ngIf="game.gameId === 1">
        Hole Stake
      </td>
      <td *ngIf="game.gameId === 2">
        Bingo, Bango, Bongo
    </td>
    </tr>
  </tbody>
</table>
<div>
  <br />
  <button type="button" class="btn btn-success" routerLink="">
    Cancel
  </button>
</div>
<router-outlet></router-outlet>

