<table id="teeTime-tbl" class="table table-striped" aria-describedby="teeTime">
  <thead>
    <tr>
      <th id="time">Flight</th>
      <th id="time">Time</th>
      <th id="tee">Tee</th>
      <th id="player">Player</th>
      <th id="hcp">HCP</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of navigationService.teeTimes(), let idx = index">
      @if (idx == 0 || navigationService.teeTimes()[idx].flight != navigationService.teeTimes()[idx - 1].flight) {
        <td [ngClass]="modBackCls[idx]" (click)="modifyFlight(idx)">{{((idx / navigationService.teeTimeParameters().flightSize) + 1) | number: '1.0-0'}}</td>
        <td [ngClass]="modBackCls[idx]">{{row.time}}</td>
        <td [ngClass]="modBackCls[idx]">1</td>
      } @else {
        <td [ngClass]="modBackCls[idx]"></td>
        <td [ngClass]="modBackCls[idx]"></td>
        <td [ngClass]="modBackCls[idx]"></td>
      }
      <td [ngClass]="modBackCls[idx]" (click)="modifyPlayer(idx)">{{row.nick}}</td>
      <td [ngClass]="modBackCls[idx]">{{row.hcp}}</td>
    </tr>
  </tbody>
</table>
