<div class="golf-theme">
  <h2 style="color: red" mat-dialog-title>Update player: {{nick}}</h2>
  <mat-dialog-content [formGroup]="form" style="width: 260px;">

    <mat-form-field>
      <input matInput placeholder="Player nick" formControlName="nick" />
      @if (f.nick.errors && f.nick.errors.required) {
        <mat-error>Nick is required</mat-error>
      }
      @if (f.nick.errors && f.nick.errors.maxlength) {
        <mat-error>Nick can be up to 10 characters long</mat-error>
      }
    </mat-form-field>

    <br/>
    <br/>
    <br/>

    <mat-form-field>
      <input matInput maxlength="4" placeholder="Player whs (X.X)" formControlName="whs" />
      @if (form.controls.whs.errors && form.controls.whs.errors.required) {
        <mat-error>WHS is required</mat-error>
      }
      @if (form.controls.whs.errors && form.controls.whs.errors.max) {
        <mat-error>WHS is caannot be higer than 54</mat-error>
      }
      @if (form.controls.whs.errors && form.controls.whs.errors.min) {
        <mat-error>WHS is caannot be lower than -5</mat-error>
      }
      @if (form.controls.whs.errors && form.controls.whs.errors.pattern) {
        <mat-error>Provide valid value</mat-error>
      }
    </mat-form-field>

    <br/>
    <br/>
    <br/>

    <mat-checkbox formControlName="female" (click)="femaleClick()" onKeyDown="sexClick(true)">Female</mat-checkbox>
    &nbsp;
    <mat-checkbox formControlName="male" (click)="maleClick()" onKeyDown="sexClick(false)">Male</mat-checkbox>

    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="close()">Cancel</button>
      &nbsp;
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </mat-dialog-actions>

  </mat-dialog-content>
</div>
