
@if (roundsNavigationService.selectedTab() === 0) {
  <h2 i18n="@@rounds-myRounds">My Rounds</h2>
}
@if (roundsNavigationService.selectedTab() === 1) {
  <h2 i18n="@@rounds-recPlayRounds">Recently played rounds</h2>
}
<br/>
<ul class="nav nav-tabs" id="roundsTab">
  <li class="nav-item">
    <button class="nav-link" [ngClass]="{'active': roundsNavigationService.selectedTab() === 0}" id="myRounds-tab" data-bs-toggle="tab" data-bs-target="#myRounds" type="button"
    role="tab" aria-controls="myRounds" aria-selected="true" (click)="onTabClick(0)" i18n="@@rounds-myRounds">My Rounds</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" [ngClass]="{'active': roundsNavigationService.selectedTab() === 1}" id="recent-tab" data-bs-toggle="tab" data-bs-target="#recent" type="button"
    role="tab" aria-controls="recent" aria-selected="false" (click)="onTabClick(1)" i18n="@@rounds-recRounds">Recently played</button>
  </li>
</ul>
<div class="tab-content" id="roundsTabContent">
  <div class="tab-pane fade show active" id="myRounds" role="tabpanel" aria-labelledby="myRounds-tab">
    @if (!dispRounds) {
      <div class="d-flex justify-content-center">
        <span class="spinner-border text-success" style="width: 3rem; height: 3rem;"></span>
      </div>
    }
    @if (dispRounds) {
      <div>
        <app-list-rounds></app-list-rounds>
      </div>
    }
  </div>
  <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recent-tab">
    @if (!dispRounds) {
      <div class="d-flex justify-content-center">
        <span class="spinner-border text-success" style="width: 3rem; height: 3rem;"></span>
      </div>
    }
    @if (dispRounds) {
      <div>
        <app-list-rounds></app-list-rounds>
      </div>
    }
  </div>
</div>
<div>
  <br />
  <button type="button" class="btn btn-success" routerLink="/home" i18n="@@rounds-cancel" i18n="@@rounds-cancel">
      Cancel
    </button>
  &nbsp;
  <button type="button" class="btn btn-success" (click)="onPrevious()" [disabled]="roundsNavigationService.page() === 0" i18n="@@rounds-previous">
      Previous
    </button>
  &nbsp;
  <button type="button" class="btn btn-success" (click)="onNext()" [disabled]="roundsNavigationService.rounds() != undefined && roundsNavigationService.rounds().length < roundsNavigationService.pageSize()" i18n="@@rounds-next">
      Next
    </button>
  &nbsp;
  <button
    type="button"
    class="btn btn-success"
    routerLink= "/courses" [state]="{ data: { parent: 'addRound' } }"
    i18n="@@rounds-add"
    >
      Add
    </button>
</div>

