@if (mode() === undefined) {
} @else if (mode() === MODE_ADMIN_TEETIMES_NOT_PUBLISHED) {
  <mat-tab-group>
    <mat-tab label="Parametrs">
      @defer {
        <app-parameters/>
      }
    </mat-tab>
    <mat-tab label="Preview">
      @defer {
        <app-preview/>
      }
    </mat-tab>
    <mat-tab label="Modification" disabled="true"> placeholder </mat-tab>
  </mat-tab-group>
} @else if (mode() === MODE_ADMIN_TEETIMES_PUBLISHED || mode() === MODE_PLYAYER_TEETIMES_PUBLISHED) {
    @defer {
      <app-preview/>
    }
} @else {
  <h2>Tee times not publisheed yet</h2>
}
@if (mode() === MODE_ADMIN_TEETIMES_NOT_PUBLISHED || mode() === MODE_ADMIN_TEETIMES_PUBLISHED) {
  <br/>
  <div class="row">
    <span>
      @if (mode() === MODE_ADMIN_TEETIMES_NOT_PUBLISHED) {
        <button type="button" class="btn btn-success golf-margin-bottom-6" (click)="saveTeeTimes()">
          Save Tee Times
        </button>
        &nbsp;
        <button type="button" class="btn btn-success golf-margin-bottom-6" (click)="publishTeeTimes()">
          Publish Tee Times
        </button>
        &nbsp;
      }
      <button type="button" class="btn btn-success golf-margin-bottom-6" (click)="deleteTeeTimes()">
        Delete Tee Times
      </button>
    </span>
  </div>
}

