<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
  <!--
  <td>
    1
  </td>
  <td>
    <button name="p1" class="btn btn-secondary btn-selector">
      2
    </button>
  </td>
  <td>
    <button name="p2" class="btn btn-secondary btn-selector">
      3
    </button>
  </td>
  <td>
    <button name="p3" class="btn btn-secondary btn-selector">
      4
    </button>
  </td>
  <td>
    <button name="p3" class="btn btn-secondary btn-selector">
      5
    </button>
  </td>
  <td>
    <button name="completed" class="btn btn-secondary btn-selector">
      No
    </button>
  </td>

<tr>
  <td>
    {{rowNo}}
  </td>

  <td *ngIf="rowNo == currentHole">
    <button name="p1" class="btn btn-secondary btn-selector" (click)="onChangeResult(0)">
      {{rowResult[0]}}
    </button>
  </td>
  <td *ngIf="row != currentHole">
    1
  </td>

  <td *ngIf="row == currentHole">
    <button name="p2" class="btn btn-secondary btn-selector" (click)="onChangeResult(1)">
      {{rowResult[1]}}
    </button>
  </td>
  <td *ngIf="row != currentHole">
    1
  </td>

  <td *ngIf="row == currentHole">
    <button name="p3" class="btn btn-secondary btn-selector" (click)="onChangeResult(2)">
      {{rowResult[2]}}
    </button>
  </td>
  <td *ngIf="row != currentHole">
    1
  </td>

  <td *ngIf="row == currentHole &&  players > 3">
    <button name="p3" class="btn btn-secondary btn-selector" (click)="onChangeResult(3)">
      {{rowResult[3]}}
    </button>
  </td>
  <td *ngIf="row != currentHole && players > 3">
    1
  </td>

  <td *ngIf="row == currentHole">
    <button name="completed" class="btn btn-secondary btn-selector" (click)="onCompleted()">
      No
    </button>
  </td>
  <td *ngIf="row != currentHole">
    No
  </td>
</tr>
-->
