<h2>{{ round.course.name }} &nbsp; &nbsp; {{ round.roundDate }} &nbsp; &nbsp; Course HCP: &nbsp; {{ courseHCP }}
    &nbsp; &nbsp; Score Differential: &nbsp; {{ scoreDiff | number: '1.0-1'}}</h2>
<br/>
<div class="table-responsive">
<table id="holeStake-tbl" class="table table-bordered">
  <thead>
    <tr>
      <th>Hole</th>
      <th *ngFor="let i = index of counter(9)" class="w-5">
        {{round.scoreCard[i].hole}}
      </th>
      <th>OUT</th>
      <th *ngFor="let i = index of counter(9)" class="w-5">
        {{round.scoreCard[i + 9].hole}}
      </th>
      <th>IN</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>PAR</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{round.course.holes[i].par}}
      </td>
      <th class="center">{{first9par}}</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{round.course.holes[i + 9].par}}
      </td>
      <th class="center">{{last9par}}</th>
      <th class="center">{{first9par + last9par}}</th>
    </tr>
    <tr>
      <th>SI</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{round.course.holes[i].si}}
      </td>
      <th></th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{round.course.holes[i + 9].si}}
      </td>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Score</th>
      <td *ngFor="let i = index of counter(9)" [ngClass]="scoreBruttoClass[i]" class="center">
          {{round.scoreCard[i].stroke}}
      </td>
      <th class="center">{{first9score}}</th>
      <td *ngFor="let i = index of counter(9)" [ngClass]="scoreBruttoClass[i + 9]" class="center">
        {{round.scoreCard[i + 9].stroke}}
      </td>
      <th class="center">{{last9score}}</th>
      <th class="center">{{first9score + last9score}}</th>
    </tr>
    <tr>
      <th>HCP</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{round.scoreCard[i].hcp}}
      </td>
      <th></th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{round.scoreCard[i + 9].hcp}}
      </td>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Net Score</th>
      <td *ngFor="let i = index of counter(9)" [ngClass]="scoreNettoClass[i]" class="center">
        {{round.scoreCard[i].scoreNetto}}
      </td>
      <th class="center">{{first9scoreNetto}}</th>
      <td *ngFor="let i = index of counter(9)" [ngClass]="scoreNettoClass[i + 9]" class="center">
        {{round.scoreCard[i + 9].scoreNetto}}
      </td>
      <th class="center">{{last9scoreNetto}}</th>
      <th class="center">{{first9scoreNetto + last9scoreNetto}}</th>
    </tr>
    <tr>
      <th>Cor. Gross Score</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{round.scoreCard[i].corScoreBrutto}}
      </td>
      <th class="center">{{first9CorScorBrutto}}</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{round.scoreCard[i + 9].corScoreBrutto}}
      </td>
      <th class="center">{{last9CorScorBrutto}}</th>
      <th class="center">{{first9CorScorBrutto + last9CorScorBrutto}}</th>
    </tr>
    <tr>
      <th>STB Net</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{round.scoreCard[i].stbNetto}}
      </td>
      <th class="center">{{first9StbNetto}}</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{round.scoreCard[i + 9].stbNetto}}
      </td>
      <th class="center">{{last9StbNetto}}</th>
      <th class="center">{{first9StbNetto + last9StbNetto}}</th>
    </tr>
    <tr>
      <th>STB Gross</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{round.scoreCard[i].stbBrutto}}
      </td>
      <th class="center">{{first9StbBrutto}}</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{round.scoreCard[i + 9].stbBrutto}}
      </td>
      <th class="center">{{last9StbBrutto}}</th>
      <th class="center">{{first9StbBrutto + last9StbBrutto}}</th>
    </tr>
  </tbody>
</table>
</div>
<div>
  <br />
  <button type="button" class="btn btn-success" routerLink="">
    Cancel
  </button>
</div>
