<div *ngIf="parent === 'courses'">
  <h2 *ngIf="favourites">Favourite courses</h2>
  <h2 *ngIf="!favourites">List of all courses</h2>
</div>
<div *ngIf="parent === 'addRound'">
  <h2>Select course for round</h2>
</div>
<table id="courses-tbl" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Par</th>
      <th *ngIf="parent === 'courses'"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of courses">
      <td *ngIf="parent === 'courses'">
        <a [routerLink]="['/course']" [state]="{data: {course: row}}">
          <fa-icon [icon]="faSearchPlus" class="golf-green"></fa-icon>
        </a>
      </td>
      <td *ngIf="parent === 'addRound'">
        <a [routerLink]="['/addScorecard', row.id, row.name, row.par]">
          <fa-icon [icon]="faSearchPlus" class="golf-green"></fa-icon>
        </a>
      </td>
      <td *ngIf="parent === 'addOnlineRound'">
        <a routerLink="/onlineRoundDef"
          [state]="{ data: { course: row } }"
        >
          <fa-icon [icon]="faSearchPlus" class="golf-green"></fa-icon>
        </a>
      </td>
      <td>{{ row.name }}</td>
      <td>{{ row.par }}</td>
      <td *ngIf="parent === 'courses'">
        <a (click)="onClickFavourite(row)">
          <fa-icon [icon]="getIcon()" class="golf-green"></fa-icon>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <br />
  <button type="button" class="btn btn-success" routerLink="">
    Cancel
  </button>
  &nbsp;
  <button type="button" class="btn btn-success" (click)="onToggleAllFavourites()">
    <span *ngIf="favourites">
      All
    </span>
    <span *ngIf="!favourites">
      Favourites
    </span>
  </button>
  <span *ngIf="parent === 'courses'">
    &nbsp;
    <button type="button" class="btn btn-success" routerLink="/addCourse">
      Add
    </button>
  </span>
</div>
<router-outlet></router-outlet>
