<h2 i18n="@@addTour-header">Add the new tournament:</h2>

<form [formGroup]="addTournamentForm">
  <div class="col-auto">
    <mat-form-field [style.width.px]=300>
      <mat-label i18n="@@addTour-name">Tournament name</mat-label>
      <input matInput maxlength="100" [formControlName]="'name'"/>
      @if (submitted && f.name.errors) {
        @if (f.name.errors.required) {
          <mat-error i18n="@@addTour-nameReq">Name is required</mat-error>
        }
        @if (f.name.errors.minlength) {
          <mat-error i18n="@@addTour-TourTooShort">Tournament name must be at least 3 characters</mat-error>
        }
      }
    </mat-form-field>
  </div>
  <div class="col-auto">
    <mat-form-field [style.width.px]=300>
      <mat-label i18n="@@addTour-startDate">Start date (YYYY/MM/DD)</mat-label>
      <input matInput maxlength="100" [formControlName]="'startDate'"/>
      @if (submitted && f.startDate.errors) {
        @if (f.startDate.errors.required) {
          <mat-error i18n="@@addTour-dateReq">Date is required</mat-error>
        }
        @if (f.startDate.errors.pattern) {
          <mat-error i18n="@@addTour-datePattern">Provide the date in the YYYY/MM/DD format</mat-error>
        }
      }
    </mat-form-field>
  </div>
  <div class="col-auto">
    <mat-form-field [style.width.px]=300>
      <mat-label i18n="@@addTour-endDate">End date (YYYY/MM/DD)</mat-label>
      <input matInput maxlength="100" [formControlName]="'endDate'"/>
      @if (submitted && f.endDate.errors) {
        @if (f.endDate.errors.required) {
          <mat-error i18n="@@addTour-dateReq">Date is required</mat-error>
        }
        @if (f.endDate.errors.pattern) {
          <mat-error i18n="@@addTour-datePattern">Provide the date in the YYYY/MM/DD format</mat-error>
        }
      }
    </mat-form-field>
  </div>
  <div class="col-auto">
    <mat-form-field [style.width.px]=300>
      <mat-label i18n="@@addTour-noBestRnd">No. of best rounds (0 - all)</mat-label>
      <input matInput maxlength="100" [formControlName]="'bestRounds'"/>
      @if (submitted && f.bestRounds.errors) {

        @if (f.bestRounds.errors.required) {
          <mat-error i18n="@@addTour-noBestRndReq">No. of best rounds is required</mat-error>
        }
        @if (f.bestRounds.errors.min) {
          <mat-error i18n="@@addTour-noBestRndTooShrt">No. of best rounds must be greater or equal 0</mat-error>
        }
        @if (f.bestRounds.errors.max) {
          <mat-error i18n="@@addTour-noBestRndTooBig">No. of best rounds must be lower or equal 10</mat-error>
        }
      }
    </mat-form-field>
  </div>

  <div class="row golf-margin-top">
    <label for="playHcpMultiplayer"><span i18n="@@addTour-plyMplr">Playing HCP Multiplayer</span></label>
    <div class="col">
      <input type="radio" name="playHcpMultiplayer" id="playHcpMultiplayer1" value="1" formControlName="playHcpMultiplayer"
        class="form-check-input form-check-input-green" checked>
      <label class="custom-control-label green" for="mpFormat1">100%</label>
      &nbsp;
      <input type="radio" name="playHcpMultiplayer" id="playHcpMultiplayer2" value="0.75" formControlName="playHcpMultiplayer"
        class="form-check-input form-check-input-green">
      <label class="custom-control-label green" for="mpFormat3">75% (3/4)</label>
      &nbsp;
      <input type="radio" name="playHcpMultiplayer" id="playHcpMultiplayer3" value="0.50" formControlName="playHcpMultiplayer"
        class="form-check-input form-check-input-green">
      <label class="custom-control-label green" for="mpFormat4">50% (1/2)</label>
    </div>
  </div>

  <br/>

  <div class="col-auto">
    <mat-form-field [style.width.px]=300>
      <mat-label i18n="@@addTour-maxPlayHcp">Max. playing Hcp</mat-label>
      <input matInput maxlength="4" [formControlName]="'maxPlayHcp'"/>
      @if (submitted && f.maxPlayHcp.errors) {

        @if (f.maxPlayHcp.errors.required) {
          <mat-error i18n="@@addTour-maxPlayHcpReq">Max playing hcp is required</mat-error>
        }
        @if (f.maxPlayHcp.errors.min) {
          <mat-error i18n="@@addTour-maxPlayHcpTooShrt">Max playing hcp must be greater or equal 0</mat-error>
        }
        @if (f.maxPlayHcp.errors.max) {
          <mat-error i18n="@@addTour-maxPlayHcpTooBig">Max playing hcp must be lower or equal 54</mat-error>
        }
        @if (f.maxPlayHcp.errors.pattern) {
          <mat-error i18n="@@addTour-maxPlayHcpPattern">Max playing hcp must be integer</mat-error>
        }
      }
    </mat-form-field>
  </div>

  <div class="col-auto">
    <input type="checkbox" class="form-check-input form-check-input-green" id="canUpdateHcp" formControlName="canUpdateHcp">
    <label for="canUpdateHcp">&nbsp; <span i18n="@@addTour-canUpdateHcpCheckbox">HCP can be updated between rounds</span></label>
  </div>
</form>
<br/>
<div>
  <button [disabled]="loading" class="btn btn-success btn-submit" (click)="onSubmit()">
    @if (loading) {
      <span class="spinner-border spinner-border-sm mr-1"></span>
    }
    <span i18n="@@addTour-create">Create</span>
  </button>
  &nbsp;
  <button type="button" class="btn btn-success" routerLink="/tournaments" i18n="@@addTour-cancel">
    Cancel
  </button>
</div>






