@if (!displaySgn()) {
  <div class="d-flex justify-content-center">
    <span class="spinner-border text-success" style="width: 3rem; height: 3rem;"></span>
  </div>
}
@if (displaySgn()) {
  <div>
    <h2>{{ courseSgn().name }}
      @if (!finalizedSgn()) {
        <span style="color: red;">
          {{elapsedSgn().hours | number:'2.0'}}:{{elapsedSgn().minutes | number:'2.0'}}:{{elapsedSgn().seconds | number:'2.0'}}
        </span>
      }
    </h2>
    <div>
      <span i18n="@@onlnScorView-lstUpd">Last update:</span> {{lstUpdTimeSgn()}}
    </div>
    <br/>
    <div class="table-responsive">
      <table id="holeStake-tbl" class="table table-bordered" aria-describedby="online scorecard view">
        <thead>
          <tr>
            <th id="hole" i18n="@@onlnScorView-hole">Hole</th>
            @for (index of counterSgn(); track index;) {
              <th id="hNo" class="w-5">
                {{index + 1}}
              </th>
            }
            <th id="out">OUT</th>
            @for (index of counterSgn(); track index;) {
              <th id="hNo" class="w-5">
                {{index + 10}}
              </th>
            }
            <th id="in">IN</th>
            <th id="total" i18n="@@onlnScorView-total">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th id="par">PAR</th>
            @for (index of counterSgn(); track index;) {
              <td class="center">
                {{courseSgn().holes[index].par}}
              </td>
            }
            <th id="f9par" class="center">{{first9parSgn()}}</th>
            @for (index of counterSgn(); track index;) {
              <td class="center">
                {{courseSgn().holes[index + 9].par}}
              </td>
            }
            <th id="l9par" class="center">{{last9parSgn()}}</th>
            <th id="b9par" class="center">{{first9parSgn() + last9parSgn()}}</th>
          </tr>
          <tr>
            <th id="si">SI</th>
            @for (index of counterSgn(); track index;) {
              <td class="center">
                {{courseSgn().holes[index].si}}
              </td>
            }
            <th id="empty"></th>
            @for (index of counterSgn(); track index;) {
              <td class="center">
                {{courseSgn().holes[index + 9].si}}
              </td>
            }
            <th id="empty"></th>
            <th id="empty"></th>
          </tr>
          @for (onlineRound of onlineRoundsSgn(); track onlineRound.id; let idx = $index) {
            <tr class="center">
              <th id="nick">{{onlineRound.player.nick}}</th>
              @if (ownerSgn() === undefined) {
                @for (index of counterSgn(); track index;) {
                  <td class="center" [ngClass]="scoreBruttoClassSgn()[idx][index]">
                    @if (onlineRound.scoreCardAPI[index] != null) {
                      <span>
                        @if (onlineRound.scoreCardAPI[index].stroke === 16) {
                          <span>
                            x
                          </span>
                        }
                        @if (onlineRound.scoreCardAPI[index].stroke < 16) {
                          <span>
                            {{onlineRound.scoreCardAPI[index].stroke}}
                          </span>
                        }
                      </span>
                    }
                  </td>
                }
                <th id="f9s" class="center">
                  @if (!first9ballPickedUpSgn()[idx]) {
                    <span>
                      {{onlineRound.first9score}}
                    </span>
                  }
                </th>
                @for (index of counterSgn(); track index;) {
                  <td class="center" [ngClass]="scoreBruttoClassSgn()[idx][index + 9]">
                    @if (onlineRound.scoreCardAPI[index + 9] != null) {
                      <span>
                        @if (onlineRound.scoreCardAPI[index + 9].stroke === 16) {
                          <span>
                            x
                          </span>
                        }
                        @if (onlineRound.scoreCardAPI[index + 9].stroke < 16) {
                          <span>
                            {{onlineRound.scoreCardAPI[index + 9].stroke}}
                          </span>
                        }
                      </span>
                    }
                  </td>
                }
                <th id="l9s" class="center">
                  @if (!last9ballPickedUpSgn()[idx]) {
                    <span>
                      {{onlineRound.last9score}}
                    </span>
                  }
                </th>
                <th id="b9s" class="center">
                  @if (!first9ballPickedUpSgn()[idx] && !last9ballPickedUpSgn()[idx]) {
                    <span>
                      {{onlineRound.first9score + onlineRound.last9score}}
                    </span>
                  }
                </th>
              }
              @if (ownerSgn() != undefined) {
                @for (index of counterSgn(); track index;) {
                  <td class="center" [ngClass]="highlightHCPSgn()[idx][index]">
                    @if (onlineRound.scoreCardAPI[index] != null) {
                      <span>
                        {{mpResultHistorySgn()[idx][index]}}
                      </span>
                    }
                  </td>
                }
                <th id="f9s" class="center"></th>
                @for (index of counterSgn(); track index;) {
                  <td class="center" [ngClass]="highlightHCPSgn()[idx][index + 9]">
                    @if (onlineRound.scoreCardAPI[index + 9] != null) {
                      <span>
                        {{mpResultHistorySgn()[idx][index + 9]}}
                      </span>
                    }
                  </td>
                }
                <th id="l9s" class="center"></th>
                <th id="b9s" class="center"></th>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
    @if (ownerSgn() != undefined) {
      <div>
        @if (mpResultSgn()[1] === null) {
          <h3>
            {{mpResultSgn()[0]}}
          </h3>
        }
        @if (mpResultSgn()[1] !== null) {
          <h3 style="color: red; font-weight: bold;">
            {{mpResultSgn()[1]}}
          </h3>
        }
      </div>
    }
    <br />
    <button type="button" class="btn btn-success" routerLink="/scorecard" i18n="@@onlnScorView-cancel">
    Cancel
  </button>
  </div>
}
