<div class="golf-theme">
  <h2 style="color: red" mat-dialog-title>{{player.nick}}: <span i18n="@@updTourPlrDlg-updateHcp">Update HCP</span></h2>
  <mat-dialog-content [formGroup]="form">
    <mat-form-field>
      <input matInput maxlength="4" i18n-placeholder="@@updTourPlrDlg-whs" placeholder="Player whs (X.X)" formControlName="whs" />
      <mat-error *ngIf="form.controls.whs.errors && form.controls.whs.errors.required" i18n="@@updTourPlrDlg-whsReq">WHS is required</mat-error>
      <mat-error *ngIf="form.controls.whs.errors && form.controls.whs.errors.max" i18n="@@updTourPlrDlg-whsTooHigh">WHS is caannot be higer than 54</mat-error>
      <mat-error *ngIf="form.controls.whs.errors && form.controls.whs.errors.min" i18n="@@updTourPlrDlg-whsTooLow">WHS is caannot be lower than -5</mat-error>
      <mat-error *ngIf="form.controls.whs.errors && form.controls.whs.errors.pattern" i18n="@@updTourPlrDlg-patrn">Provide valid value</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content [formGroup]="form">
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="close()" span i18n="@@updTourPlrDlg-cancel">
        Cancel
      </button>
      &nbsp;
      <button mat-raised-button color="primary" (click)="save()" span i18n="@@updTourPlrDlg-save">Save</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
