<h2>Game rules</h2>
<p>Game is available for 3 or 4 players with 3 possible stakes.</p>
<p>The rule is very simple: The winner is the player who has the best score for a given hole.</p>
<p>In case of two (or more winners), the stake is split among them.</p>
<p>No matter who is on the second or third pleace, the stake goes only to the winner.</p>
<p>If all players have the same result, the hole is skipped.</p>
<br/>
<h2>Application functionality</h2>
<p>Enter position for each player starting from the winner (select 1), the second (select 2) and so on.</p>
<p>Application will not allow to complete a hole if at least one player is not marked as a winner (select 1).</p>
<p>In case of mistake the hole can be editted by pressing Done button.</p>
<p>The hole will be opened for edition. When completed press Edit button again to finalize it.</p>
<p>The score is displayed at the buttom of the page. It is recalculated after the complition of each hole</p>
<p>or finalization of edition.</p>
<div>
  <br />
  <button type="button" class="btn btn-success" routerLink="">
    Cancel
  </button>
  &nbsp;
  <button type="button" class="btn btn-success" routerLink="/holeStakeSetup">
    Start
  </button>
</div>
