<table id="holeStake-tbl" class="table table-bordered" aria-describedby="Online round hole result" style="font-size: 18px;" aria-hidden="true">
  <thead>
    <tr>
      <ng-template [ngTemplateOutlet]="TableHeader"></ng-template>
    </tr>
  </thead>
  <tbody>
    <tr style="font-weight: bold;">
      <td>
        {{curHoleIdxSgn() + 1}}
      </td>
      <td [ngClass]="curPlayerStyleSgn()[0]">
        @if (curHoleStrokesSgn()[0] > 0 && curHoleStrokesSgn()[0] < 16) {
          <span>{{curHoleStrokesSgn()[0]}}</span>
        }
        @if (curHoleStrokesSgn()[0] === 16) {
          <span>x</span>
        }
        <span class="supsub">
          <span class="superscript">
            <span class="dotSeparator"></span>
            @for (index of curHolePuttsSgn()[0] | range; track index) {
              <span>
                <span class="blackDot"></span>
                <span class="dotSeparator"></span>
              </span>
            }
          </span>
          <span class="subscript">
            <span class="dotSeparator"></span>
            @for (index of curHolePenaltiesSgn()[0] | range; track index) {
              <span>
                <span class="redDot"></span>
                <span class="dotSeparator"></span>
              </span>
            }
          </span>
        </span>
      </td>
      @if (roundsSgn().length > 1) {
        <td [ngClass]="curPlayerStyleSgn()[1]">
          @if (curHoleStrokesSgn()[1] > 0 && curHoleStrokesSgn()[1] < 16) {
            <span>{{curHoleStrokesSgn()[1]}}</span>
          }
          @if (curHoleStrokesSgn()[1] === 16) {
            <span>x</span>
          }
          <span class="supsub">
            <span class="superscript">
              <span class="dotSeparator"></span>
              @for (index of curHolePuttsSgn()[1] | range; track index) {
                <span>
                  <span class="blackDot"></span>
                  <span class="dotSeparator"></span>
                </span>
              }
            </span>
            <span class="subscript">
              <span class="dotSeparator"></span>
              @for (index of curHolePenaltiesSgn()[1] | range; track index) {
                <span>
                  <span class="redDot"></span>
                  <span class="dotSeparator"></span>
                </span>
              }
            </span>
          </span>
        </td>
      }
      @if (roundsSgn().length > 2) {
        <td [ngClass]="curPlayerStyleSgn()[2]">
          @if (curHoleStrokesSgn()[2] > 0 && curHoleStrokesSgn()[2] < 16) {
            <span>{{curHoleStrokesSgn()[2]}}</span>
          }
          @if (curHoleStrokesSgn()[2] === 16) {
            <span>x</span>
          }
          <span class="supsub">
            <span class="superscript">
              <span class="dotSeparator"></span>
              @for (putt of curHolePuttsSgn()[2] | range; track putt) {
                <span>
                  <span class="blackDot"></span>
                  <span class="dotSeparator"></span>
                </span>
              }
            </span>
            <span class="subscript">
              <span class="dotSeparator"></span>
              @for (penalty of curHolePenaltiesSgn()[2] | range; track penalty) {
                <span>
                  <span class="redDot"></span>
                  <span class="dotSeparator"></span>
                </span>
              }
            </span>
          </span>
        </td>
      }
      @if (roundsSgn().length > 3) {
        <td [ngClass]="curPlayerStyleSgn()[3]">
          @if (curHoleStrokesSgn()[3] > 0 && curHoleStrokesSgn()[3] < 16) {
            <span>{{curHoleStrokesSgn()[3]}}</span>
          }
          @if (curHoleStrokesSgn()[3] === 16) {
            <span>x</span>
          }
          <span class="supsub">
            <span class="superscript">
              <span class="dotSeparator"></span>
              @for (putt of curHolePuttsSgn()[3] | range; track putt) {
                <span>
                  <span class="blackDot"></span>
                  <span class="dotSeparator"></span>
                </span>
              }
            </span>
            <span class="subscript">
              <span class="dotSeparator"></span>
              @for (penalty of curHolePenaltiesSgn()[3] | range; track penalty) {
                <span>
                  <span class="redDot"></span>
                  <span class="dotSeparator"></span>
                </span>
              }
            </span>
          </span>
        </td>
      }
    </tr>
  </tbody>
</table>
<ng-template #TableHeader >
  <th id="hole" i18n="@@comScor-hole">Hole</th>
  <th id="p1str">{{roundsSgn()[0].player.nick}}
    @if (ballPickedUpSgn()[0]) {
      <span>
        (x)
      </span>
    }
    @if (!ballPickedUpSgn()[0]) {
      <span>
        ({{totalStrokesSgn()[0]}})
      </span>
    }
  </th>
  @if (roundsSgn().length > 1) {
    <th id="p2str">{{roundsSgn()[1].player.nick}}
      @if (ballPickedUpSgn()[1]) {
        <span>
          (x)
        </span>
      }
      @if (!ballPickedUpSgn()[1]) {
        <span>
          ({{totalStrokesSgn()[1]}})
        </span>
      }
    </th>
  }
  @if (roundsSgn().length > 2) {
    <th id="p3str">{{roundsSgn()[2].player.nick}}
      @if (ballPickedUpSgn()[2]) {
        <span>
          (x)
        </span>
      }
      @if (!ballPickedUpSgn()[2]) {
        <span>
          ({{totalStrokesSgn()[2]}})
        </span>
      }
    </th>
  }
  @if (roundsSgn().length > 3) {
    <th id="p4str">{{roundsSgn()[3].player.nick}}
      @if (ballPickedUpSgn()[3]) {
        <span>
          (x)
        </span>
      }
      @if (!ballPickedUpSgn()[3]) {
        <span>
          ({{totalStrokesSgn()[3]}})
        </span>
      }
    </th>
  }
</ng-template>


