<div class="container">
<form [formGroup]="newCourseForm">
  <div class="form-row">
    <div class="form-group col">
      <input
        type="text"
        formControlName="courseName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.courseName.errors }"
        placeholder="Course name"
      />
      <div *ngIf="submitted && f.courseName.errors" class="invalid-feedback">
        <div *ngIf="f.courseName.errors.required">Course name is required</div>
      </div>
    </div>
    &nbsp;

    <div class="form-group col">
      <input
        type="text"
        maxlength="2"
        formControlName="coursePar"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.coursePar.errors }"
        placeholder="Course par"
      />
      <div *ngIf="submitted && f.coursePar.errors" class="invalid-feedback">
        <div *ngIf="f.coursePar.errors.required">Course par is required</div>
        <div *ngIf="f.coursePar.errors.pattern">Course par must be a number from 30 to 79</div>
      </div>
    </div>
  </div>
  <div>
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
  <br />

  <div class="row">
    <div class="col-sm-1">
      Hole:
    </div>
    <div>
      <div class="btn-group-toggle flex-wrap" data-toggle="buttons">
        <label *ngFor="let hole of barChartLabels; let i = index" class="btn btn-outline-success buttonWidth" [ngClass]="holeSelectorActive[i]">
          <input type="radio" name="hole" id="hole" autocomplete="off" (click)="selectHole(hole)"> {{ hole }}
        </label>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-1">
      Par:
    </div>
    <div>
      <div class="btn-group-toggle flex-wrap" data-toggle="buttons">
        <label *ngFor="let par of parButtons; let i = index" class="btn btn-outline-success buttonWidth" [ngClass]="parSelectorActive[i]">
          <input type="radio" value= {{par}} (click)="selectPar(par)"> {{ par }}
        </label>
      </div>
    </div>
  </div>
  <div>
    <br />
    <div class="form-group">
      <button class="btn btn-success" (click)="onSubmit()">
        Save
      </button>
      &nbsp;
      <button type="button" class="btn btn-success" (click)="clear()">
        Clear
      </button>
      &nbsp;
      <button type="button" class="btn btn-success" routerLink="">
        Cancel
      </button>
    </div>
  </div>
</form>
</div>
<router-outlet></router-outlet>
