<div *ngIf="socialLoading || loading" class="d-flex justify-content-center">
  <span class="spinner-border text-success" style="width: 3rem; height: 3rem;"></span>
</div>
<div *ngIf="!socialLoading && !loading">
  <h2 i18n="@@login-Login">Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label i18n="@@login-Username" for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div i18n="@@login-Username-Required" *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <br/>
    <div class="form-group">
        <label i18n="@@login-Password" for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div i18n="@@login-Password-Required" *ngIf="f.password.errors.required">Password is required</div>
            <div i18n="@@login-Password-Length" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <br/>
    <div>
      <div class="row float-left">
        <div class="col mt-2">
        <span>
          <button [disabled]="loading" class="btn btn-success" i18n="@@login-Login-btn">
            Login
          </button>
        </span>
        <span>
          <a routerLink="/register" class="btn btn-link text-success" i18n="@@login-Register-lnk">Register</a>
        </span>
        <span class="btn ps-0 text-success" style="cursor: default;" i18n="@@login-or">
            or
        </span>
        <span>
          <a (click)="startSocialLoading()" [href]="urlFacebook" type="image">
            <img src="./assets/img/f_logo_RGB-Blue_58.png" alt="Facebook login" width="38" height="38"/>
          </a>
        </span>
        <span>
          <a (click)="startSocialLoading()" [href]="urlGoogle" type="image">
            <img src="./assets/img/google.png" alt="Google login" height="38"/>
          </a>
        </span>
      </div>
    </div>
    </div>
  </form>
  <img src="./assets/img/logo.png" alt="Royal Golf Club Wilanów" class="centerImg">
</div>
