@if (!display) {
  <div class="d-flex justify-content-center">
    <span class="spinner-border text-success" style="width: 3rem; height: 3rem;"></span>
  </div>
}
@if (display) {
  <div>
    @if (loggedId === ownerId) {
      <app-common-scorecard-top [curHoleStrokes] = 'curHoleStrokes'
        [curPlayerIdx] = 'curPlayerIdx'
        [puttSelectorActive] = 'puttSelectorActive'
        [roundsSgn] = 'onlineRoundsSgn'
        [curHolePutts] = 'curHolePutts'
        [penaltySelectorActive] = 'penaltySelectorActive'
        [curHolePenalties] = 'curHolePenalties'
        [addScore] = 'addScore.bind(this)'
        [curHoleIdx] = 'curHoleIdx'
        [ballPickedUp] = 'ballPickedUp'
        [totalStrokes] = 'totalStrokes'
        [curPlayerStyle] = 'curPlayerStyle'
        [inProgress] = 'inProgress'>
      </app-common-scorecard-top>
    } @else {
      <button type="button" class="btn btn-success" (click)="refresh()">Refresh</button>
      <br />
      <br />
    }
    <div>
      <div>
        @if (secondPlayerResultSgn() === undefined) {
          <h3>
            {{firstPlayerResultSgn()}}
          </h3>
        }
        @if (secondPlayerResultSgn() !== undefined) {
          <h3 style="color: red; font-weight: bold;">
            {{secondPlayerResultSgn()}}
          </h3>
        }
      </div>
      <table id="holeStake-tbl" class="table table-bordered" aria-describedby="MatchPlay online round results">
        <thead>
          <tr>
            <th id="empty"></th>
            <th id="hole" i18n="@@onlMatch-hole">Hole</th>
            <th id="p1r">
              {{onlineRoundsSgn()[0].player.nick}}
              @if (hcpDiff() > 0) {
                <span>({{hcpDiff()}})</span>
              }
            </th>
            <th id="p2r">
              {{onlineRoundsSgn()[1].player.nick}}
              @if (hcpDiff() < 0) {
                <span>({{-hcpDiff()}})</span>
              }
            </th>
            <th id="winner" i18n="@@onlMatch-winner">Winner</th>
            <th id="par">Par</th>
            <th id="si">Si</th>
          </tr>
        </thead>
        <tbody>
          @for (stroke of strokes; track stroke; let i = $index) {
            <tr  [ngClass]="i === curHoleIdx ? 'fw-bolder' : {}">
              @if (i === curHoleIdx) {
                <td>
                  <a>
                    <fa-icon [icon]="faPlay" class="golf-green fa-xl"></fa-icon>
                  </a>
                </td>
              }
              @if (i != curHoleIdx) {
                <td>
                  <a (click)="selectHole(i)">
                    <fa-icon [icon]="faPlay" class="golf-gray"></fa-icon>
                  </a>
                </td>
              }
              <td>
                {{i + 1}}
              </td>
              @for (index of 2 | range; track index; let pl = $index) {
                <td [ngClass]="highlightHCPSgn()[pl][i]">
                  @if (stroke[pl] > 0 && stroke[pl] < 16) {
                    <span>{{stroke[pl]}}</span>
                  }
                  @if (stroke[pl] === 16) {
                    <span>x</span>
                  }
                  <span class="supsub">
                    <span class="superscript">
                      <span class="dotSeparator"></span>
                      @for (putt of putts[i][pl] | range; track putt) {
                        <span>
                          <span class="blackDot"></span>
                          <span class="dotSeparator"></span>
                        </span>
                      }
                    </span>
                    <span class="subscript">
                      <span class="dotSeparator"></span>
                      @for (penalty of penalties[i][pl] | range; track penalty) {
                        <span>
                          <span class="redDot"></span>
                          <span class="dotSeparator"></span>
                        </span>
                      }
                    </span>
                  </span>
                </td>
              }
              <td>
                @if (mpScoreSgn()[i] === -1) {
                  <span>
                    {{onlineRoundsSgn()[0].player.nick}}
                  </span>
                }
                @if (mpScoreSgn()[i] === 1) {
                  <span>
                    {{onlineRoundsSgn()[1].player.nick}}
                  </span>
                }
                @if (mpScoreSgn()[i] === 0) {
                  <span>
                    halved
                  </span>
                }
              </td>
              <td>
                {{courseSgn().holes[i].par}}
              </td>
              <td>
                {{courseSgn().holes[i].si}}
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div>
      <br />
      <div class="form-group">
        <button type="button" mat-raised-button color="warn" (click)="onDelete()">
          @if (loadingDel) {
            <span class="spinner-border spinner-border-sm mr-1"></span>
          }
          <span i18n="@@onlMatch-delete">Delete</span>
        </button>
        &nbsp;
        <button type="button" mat-raised-button color="primary" (click)="onFinal()">
          @if (loadingFin) {
            <span class="spinner-border spinner-border-sm mr-1"></span>
          }
          <span i18n="@@onlMatch-finalize">Finalize</span>
        </button>
        &nbsp;
        <button type="button" mat-raised-button color="primary" (click)="onInfo()">
          <span>Info</span>
        </button>
      </div>
    </div>
  </div>
}
