<div>
  <h2>Hole Stake Game Set Up</h2>
</div>
<br />
<app-game-setup-players [onPlayers] = 'onPlayers.bind(this)'></app-game-setup-players>
<br />
<div class="row">
  <div class="col-sm-3">
    Stake:
  </div>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-success active">
      <input type="radio" name="stake" id="stake_3" autocomplete="off" checked (click)="onStake(3)"> 3
    </label>
    <label class="btn btn-outline-success">
      <input type="radio" name="stake" id="stake_6" autocomplete="off" (click)="onStake(6)"> 6
    </label>
    <label class="btn btn-outline-success">
      <input type="radio" name="stake" id="stake_9" autocomplete="off" (click)="onStake(9)"> 9
    </label>
  </div>
</div>
<br />
<app-game-setup-nicks [stake]='stake' [players]='players' [gameType]='gameType'></app-game-setup-nicks>
