<div *ngIf="!display" class="d-flex justify-content-center">
  <span class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status"></span>
</div>
<div *ngIf="display">
  <div>
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="true"
      [chartType]="barChartType">
    </canvas>
  </div>
  <div *ngIf="displayTees">
    <table id="tee-tbl" class="table table-striped" aria-describedby="Tees">
      <thead>
        <tr>
          <th id="tee">Tee</th>
          <th id="cr">CR</th>
          <th id="sr">SR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tee">
          <td>
            {{ row.tee }}
            <span *ngIf="row.sex">ladies</span>
            <span *ngIf="!row.sex">men</span>
            <span *ngIf="row.teeType === 0">&nbsp;1-18</span>
            <span *ngIf="row.teeType === 1">&nbsp;1-9</span>
            <span *ngIf="row.teeType === 2">&nbsp;10-18</span>
          </td>
          <td>{{ row.cr }}</td>
          <td>{{ row.sr }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <br />
    <button type="button" class="btn btn-success" routerLink="/home">
      Cancel
    </button>
    &nbsp;
    <button type="button" class="btn btn-success btn-showTees" (click)="onShowTees()">
      <span *ngIf="loadingTees" class="spinner-border spinner-border-sm mr-1"></span>
      {{showTeesLbl}}
    </button>
    &nbsp;
    <button *ngIf="authenticationService.currentPlayerValue.role === 0" type="button" class="btn btn-success btn-delete" (click)="delete()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Delete
    </button>
  </div>
</div>

