<div *ngIf="display">
  <div>
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="true"
      [chartType]="barChartType">
    </canvas>
  </div>
  <div *ngIf="displayTees">
    <table id="tee-tbl" class="table table-striped">
      <thead>
        <tr>
          <th>Tee</th>
          <th>CR</th>
          <th>SR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tee">
          <td>{{ row.tee }}
            <span *ngIf="row.teeType === 0">&nbsp;1-18</span>
            <span *ngIf="row.teeType === 1">&nbsp;1-9</span>
            <span *ngIf="row.teeType === 2">&nbsp;10-18</span>
          </td>
          <td>{{ row.cr }}</td>
          <td>{{ row.sr }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <br />
    <button type="button" class="btn btn-success" routerLink="">
      Cancel
    </button>
    &nbsp;
    <button type="button" class="btn btn-success" (click)="onShowTees()">
      {{showTeesLbl}}
    </button>


    <!-- to be refactored
    &nbsp;
    <button [disabled]="loading" class="btn btn-success" (click)="delete()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Delete
    </button>
    -->
  </div>
</div>

