<div *ngIf="!isDisplayed()" class="d-flex justify-content-center">
  <span class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status"></span>
</div>
<div *ngIf="isDisplayed()">
  <form  *ngIf="navigationService.league().status === false" [formGroup]="searchPlayerForm" data-html2canvas-ignore="true">
    <div class="row">
      <div class="form-group col">
        <input type="text" formControlName="nick" class="form-control" i18n-placeholder="@@addRound-nick" placeholder="Player nick"
          [ngClass]="{ 'is-invalid': isSubmitted() && f.nick.errors }" />
        <div *ngIf="isSubmitted() && f.nick.errors" class="invalid-feedback">
          <div *ngIf="f.nick.errors.required" i18n="@@tourPlr-nickReq">Player nick is required</div>
          <div *ngIf="f.nick.errors.maxlength" i18n="@@tourPlr-nickTooLng">Nick cannot be longer than 20 characters</div>
        </div>
      </div>
      <span class="search col-auto">
        <fa-icon *ngIf="!isSearchPlayerInProgress()" [icon]="faSearchPlus" class="golf-green" (click)="onSearchPlayer()"></fa-icon>
        <span *ngIf="isSearchPlayerInProgress()" class="text-success spinner-border spinner-border-sm mr-1"></span>
      </span>
      <div class="form-group col"></div>
    </div>
  </form>
  <table *ngIf="navigationService.players().length > 0" id="tee-tbl" class="table table-striped" aria-describedby="Tees">
    <thead>
      <tr>
        <th id="no">No.</th>
        <th id="nick">Nick</th>
        <th id="delete" data-html2canvas-ignore="true">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of navigationService.players(), let idx = index">
        <td>{{idx + 1}}</td>
        <td>{{ row.nick }}</td>
        <td *ngIf="!isDeletePlayerInProgress()" (click)="deletePlayer(row, idx)" data-html2canvas-ignore="true"><fa-icon [icon]="faMinusCircle" class="golf-green"></fa-icon></td>
        <td *ngIf="isDeletePlayerInProgress() && playerIdx === idx"> <span class="text-success spinner-border spinner-border-sm mr-1"></span></td>
        <td *ngIf="isDeletePlayerInProgress() && playerIdx !== idx"> <fa-icon [icon]="faMinusCircle" class="golf-green"></fa-icon></td>

      </tr>
    </tbody>
  </table>
</div>

