<div>
  <h2>Change log</h2>
  <ul>
    <li>v1.8.2-3: Tournamnets, Online ScoreCards and Games moved to modules</li>
    <li>v1.8.2-2: Added favourites courses</li>
    <li>v1.8.2-1: Added paging for rounds</li>
    <p></p>
    <li>v1.8.1-2: Bug fixes</li>
    <li>v1.8.1-1: Online score card will stay until end of day after finalization</li>
    <p></p>
    <li>v1.8-1: Online score card for entire flight</li>
    <p></p>
    <li>v1.7-1: View multiple score cards</li>
    <p></p>
    <li>v1.6-1: Bug fixes</li>
    <p></p>
    <li>v1.5-3: Site hardening</li>
    <li>v1.5-2: Online score card for single player</li>
    <li>v1.5-1: Basic support for on-line score card</li>
    <p></p>
    <li>v1.4-1: Added possibility of displaying individual rounds for tournament</li>
    <p></p>
    <li>v1.3-4: Added tee types for 9 holes support</li>
    <li>v1.3-3: Corrected bug in BBB game</li>
    <li>v1.3-2: Increased number of strokes to 15</li>
    <li>v1.3-1: Added WHS support for 9 holes rounds</li>
    <p></p>
    <li>v1.2.1-1: Added Score Differential</li>
    <p></p>
    <li>v1.2-4: Administration: Added possibility to reset the password.</li>
    <li>v1.2-3: Implemented reCHAPTCHA v2 to secure registration process</li>
    <li>v1.2-2: Each user can start tournament and be its administrator</li>
    <li>v1.2-1: Refactored tournaments to be based on Stableford points</li>
    <p></p>
    <li>v1.1-3: Added basic support for tournaments</li>
    <li>v1.1-2: Updated review round</li>
    <li>v1.1-1: Displayed rounds will be sorted by date (from newer)</li>
    <p></p>
    <li>v1.0-2: Added option to view round brutto and netto results </li>
    <li>v1.0-1: Added course parameters required for Stabelford calculation.</li>
    <li>v1.0-0: Final release.</li>
    <p></p>
    <li>Beta v5-4: Added confirmation dialog in various places.</li>
    <li>Beta v5-3: Fixed sending the right game via email.</li>
    <li>Beta v5-2: Added update score card.</li>
    <li>Beta v5-1: Added delete scorecard.</li>
    <p></p>
    <li>Beta v4-3: Added possibility sending game results via email.</li>
    <li>Beta v4-2: Added numeric round results on Add Round page.</li>
    <li>Beta v4-1: Added numeric round results on Round page.</li>
    <p></p>
    <li>Beta v3-3: Integrated with www.dgng.pl domain.</li>
    <li>Beta v3-2: Fixed putt spelling mistakes.</li>
    <li>Beta v3-1: Added functionality to save and view the last saved games.</li>
    <p></p>
    <li>Beta v2-6: Add Course: Pars are highlited after going back to previously edited hole.</li>
    <li>Beta v2-5: Added Bingo, Bango, Bongo game.</li>
    <li>Beta v2-4: Players moved to the new line on Round page.</li>
    <li>Beta v2-3: Add Round: Strokes and putts are highlited after going back to previously edited hole.</li>
    <li>Beta v2-2: Corrected spelling mistake on Round page.</li>
    <li>Beta v2-1: Done button for Hole Stake game replaced by label. It becomes button during edition.</li>
    <p></p>
    <li>Beta v1-11: Standarized button size for hole, par, strokes, putts on add course and add round pages.</li>
    <li>Beta v1-10: Added explanation to WHS and guiding format on registration and update player pages.</li>
    <li>Beta v1-9: Now, the putts are included in number of strokes on add round page.</li>
    <li>Beta v1-8: Corrected spelling on add round page.</li>
    <li>Beta v1-7: Modified add round page: deactivate par and stroke buttons after hole change.</li>
    <li>Beta v1-6: Modified add course page: deactivate par buttons after hole change.</li>
    <li>Beta v1-5: Fixed an issue with hole game last row incorrect completed label.</li>
    <li>Beta v1-4: Added 2 player option for hole game. Updated game rules.</li>
    <li>Beta v1-3: Added optional nicks for hole game.</li>
    <li>Beta v1-2: Added stake explanation to Hole Stake game. Fixed some spelling mistakes.</li>
    <li>Beta v1-1: Problem with colon for WHS fixed. Separator replaced with dot.</li>
  </ul>
</div>
<div>
  <br />
  <button type="button" class="btn btn-success" routerLink="">
    Cancel
  </button>
</div>
