<div>
  <h2>Change log</h2>
  <ul>
    <li>v3.4.6-1: Strokes net for online scorecard</li>
    <p></p>
    <li>v3.4.4-1: No need to log in after player data update</li>
    <p></p>
    <li>v3.4.1-1: STB net for online scorecard</li>
    <p></p>
    <li>v3.4-1: Match Play leagues</li>
    <p></p>
    <li>v3.3.5-1: Possible to generate PDF for round and tournament results</li>
    <p></p>
    <li>v3.3.1-3: Possibility to update tournament player handicap</li>
    <li>v3.3.1-2: Accept flights with non-tournamnet and tournamnet players who played together</li>
    <li>v3.3.1-1: Lock player hcp for tournament</li>
    <p></p>
    <li>v3.3-1: Tournament players</li>
    <p></p>
    <li>v3.1-1: Delete tournament</li>
    <p></p>
    <li>v3.0-1: Close tournament</li>
    <p></p>
    <li>v2.30-1: Updated online score card view logic</li>
    <p></p>
    <li>v2.29-1: Refresh for online scorecard is supported</li>
    <p></p>
    <li>v2.28-1: Updated administration functions</li>
    <p></p>
    <li>v2.27-1: Libraries update</li>
    <p></p>
    <li>v2.26-1: Remove websoceket from on-line round</li>
    <p></p>
    <li>v2.25-1: Bug fixes</li>
    <p></p>
    <li>v2.24-1: Bug fixes</li>
    <p></p>
    <li>v2.20-1: On-line round connection refactoring</li>
    <p></p>
    <li>v2.19-1: The last round can be removed from cycle</li>
    <p></p>
    <li>v2.18-1: MP view enhancements - display holes with handicap</li>
    <p></p>
    <li>v2.17.2-2: Bug fixes and library update</li>
    <p></p>
    <li>v2.17.2-1: Bug fixes</li>
    <p></p>
    <li>v2.17-1: Added Polish translation</li>
    <p></p>
    <li>v2.16.1-1: Bug fixes</li>
    <p></p>
    <li>v2.16-3: On-line scorecard enhancements</li>
    <li>v2.16-2: Side games removed</li>
    <li>v2.16-1: Boostrap update</li>
    <p></p>
    <li>v2.15.1-1: Libraries update</li>
    <p></p>
    <li>v2.15-2: Possibility to delete result from tournament</li>
    <li>v2.15-1: Tournament round to player round cross reference</li>
    <p></p>
    <li>v2.14.5-1: Bug fixes</li>
    <p></p>
    <li>v2.14.4-1: Bug fixes</li>
    <p></p>
    <li>v2.14.3-1: Bug fixes</li>
    <p></p>
    <li>v2.14.2-1: Bug fixes</li>
    <p></p>
    <li>v2.14.1-1: Bug fixes</li>
    <p></p>
    <li>v2.14-1: Registration and logging using Google</li>
    <p></p>
    <li>v2.13.2-1: Bug fixes</li>
    <p></p>
    <li>v2.13.1-1: View online round refresh enhancements</li>
    <p></p>
    <li>v2.13-1: Adding round on behalf for tournament</li>
    <p></p>
    <li>v2.12-1: Tournament enhancements</li>
    <p></p>
    <li>v2.11.7: Bug fixes</li>
    <p></p>
    <li>v2.11: Registration and logging using Facebook</li>
    <p></p>
    <li>v2.10.2-1: Bug fixes</li>
    <p></p>
    <li>v2.10.1-1: Tournament results enhancements</li>
    <p></p>
    <li>v2.10-1: Player managemnt - admin function</li>
    <p></p>
    <li>v2.9-2: Player statistic - admin function</li>
    <li>v2.9-1: Close cycle added.</li>
    <p></p>
    <li>v2.8-1: Updated stopper for online results. Added time of the last update.</li>
    <p></p>
    <li>v2.7-1: Added support for update hcp for round - admin function</li>
    <p></p>
    <li>v2.6-1: Added cycles support based on Eagle tournaments.</li>
    <p></p>
    <li>v2.5-1: Added stopper for online results.</li>
    <p></p>
    <li>v2.4-2: Bug fixes.</li>
    <li>v2.4-1: Implemented lazy load for administration.</li>
    <p></p>
    <li>v2.3-2: Possibility to assign 0 as a number of strokes for online scorecard. Used if one from players decided not to play all 18 holes.</li>
    <li>v2.3-1: Moved to role based authorization based on JWT. Admin functions moved to separate option.</li>
    <p></p>
    <li>v2.2-2: Updated title bar</li>
    <li>v2.2-1: Added colours for online score card view</li>
    <p></p>
    <li>v2.1-1: Moved to k8s</li>
    <p></p>
    <li>v2.0-1: Support for historical courses</li>
    <p></p>
    <li>v1.9.9-1: Displaying list of players for tournamnet applicable rounds</li>
    <li>v1.9.9-2: Fixed more than 1 MP ruund for player</li>
    <li>v1.9.9-3: Navigate to historical rounds after finalization of the oonlie round</li>
    <p></p>
    <li>v1.9.8-1: Improved logging mechanics</li>
    <p></p>
    <li>v1.9.7-1: Bug fixes</li>
    <p></p>
    <li>v1.9.6-1: Bug fixes</li>
    <p></p>
    <li>v1.9.5-1: Bug fixes</li>
    <p></p>
    <li>v1.9.4-1: Ball pick up functionality for online and historical rounds</li>
    <p></p>
    <li>v1.9.3-2: Bug fixes</li>
    <li>v1.9.3-1: Possibility to update WHS for each player during online scorecard starting</li>
    <p></p>
    <li>v1.9.2-3: Cosmetic modifications</li>
    <li>v1.9.2-2: Menu order change and name changes</li>
    <li>v1.9.2-1: Modified MP results to show progress hole by hole</li>
    <p></p>
    <li>v1.9.1-2: Replace message with spinner when server is not available</li>
    <li>v1.9.1-1: Added golf terminology for MP results</li>
    <p></p>
    <li>v1.9-3: Added gender for a player to automatically select applicable tees</li>
    <li>v1.9-3: Added first couple of courses for search cousre screen</li>
    <li>v1.9-2: Added possibility to add the user during starting on-line round</li>
    <li>v1.9-1: Added default tee time for round</li>
    <p></p>
    <li>v1.8.11-1: Added default teetime for on-line round</li>
    <li>v1.8.11-1: Bug fixes</li>
    <p></p>
    <li>v1.8.10-1: Bug fixes</li>
    <p></p>
    <li>v1.8.9-1: Added spinner where possible</li>
    <p></p>
    <li>v1.8.8-2: Corrected MP score calculation</li>
    <li>v1.8.8-1: Added search round tab</li>
    <p></p>
    <li>v1.8.7-1: Modified presentation of putts and penalties on online scorecard</li>
    <p></p>
    <li>v1.8.6-1: Bug fixes</li>
    <p></p>
    <li>v1.8.5-1: Added recent rounds</li>
    <p></p>
    <li>v1.8.4-4: Modified courses to have tabs for favourites and all courses.</li>
    <li>v1.8.4-3: Modified formula to calculate score differential for 9-holes round</li>
    <li>v1.8.4-2: Modify player round statistic not to include not played 9-holes round</li>
    <li>v1.8.4-1: Added Summary tab for round</li>
    <p></p>
    <li>v1.8.3-4: Modified round to have tabs for each player and MP results</li>
    <li>v1.8.3-3: Modified on-line scorecard</li>
    <li>v1.8.3-2: Online view for MP round</li>
    <li>v1.8.3-1: Bug fixes</li>
    <p></p>
    <li>v1.8.2-6: Added MatchPlay online scorecard - without online view</li>
    <li>v1.8.2-5: Added optional putts and penalties for online score card</li>
    <li>v1.8.2-4: Corrected error handling</li>
    <li>v1.8.2-3: Tournamnets, Online ScoreCards and Games moved to modules</li>
    <li>v1.8.2-2: Added favourites courses</li>
    <li>v1.8.2-1: Added paging for rounds</li>
    <p></p>
    <li>v1.8.1-2: Bug fixes</li>
    <li>v1.8.1-1: Online score card will stay until end of day after finalization</li>
    <p></p>
    <li>v1.8-1: Online score card for entire flight</li>
    <p></p>
    <li>v1.7-1: View multiple score cards</li>
    <p></p>
    <li>v1.6-1: Bug fixes</li>
    <p></p>
    <li>v1.5-3: Site hardening</li>
    <li>v1.5-2: Online score card for single player</li>
    <li>v1.5-1: Basic support for on-line score card</li>
    <p></p>
    <li>v1.4-1: Added possibility of displaying individual rounds for tournament</li>
    <p></p>
    <li>v1.3-4: Added tee types for 9 holes support</li>
    <li>v1.3-3: Corrected bug in BBB game</li>
    <li>v1.3-2: Increased number of strokes to 15</li>
    <li>v1.3-1: Added WHS support for 9 holes rounds</li>
    <p></p>
    <li>v1.2.1-1: Added Score Differential</li>
    <p></p>
    <li>v1.2-4: Administration: Added possibility to reset the password.</li>
    <li>v1.2-3: Implemented reCHAPTCHA v2 to secure registration process</li>
    <li>v1.2-2: Each user can start tournament and be its administrator</li>
    <li>v1.2-1: Refactored tournaments to be based on Stableford points</li>
    <p></p>
    <li>v1.1-3: Added basic support for tournaments</li>
    <li>v1.1-2: Updated review round</li>
    <li>v1.1-1: Displayed rounds will be sorted by date (from newer)</li>
    <p></p>
    <li>v1.0-2: Added option to view round brutto and netto results </li>
    <li>v1.0-1: Added course parameters required for Stabelford calculation.</li>
    <li>v1.0-0: Final release.</li>
    <p></p>
    <li>Beta v5-4: Added confirmation dialog in various places.</li>
    <li>Beta v5-3: Fixed sending the right game via email.</li>
    <li>Beta v5-2: Added update score card.</li>
    <li>Beta v5-1: Added delete scorecard.</li>
    <p></p>
    <li>Beta v4-3: Added possibility sending game results via email.</li>
    <li>Beta v4-2: Added numeric round results on Add Round page.</li>
    <li>Beta v4-1: Added numeric round results on Round page.</li>
    <p></p>
    <li>Beta v3-3: Integrated with www.dgng.pl domain.</li>
    <li>Beta v3-2: Fixed putt spelling mistakes.</li>
    <li>Beta v3-1: Added functionality to save and view the last saved games.</li>
    <p></p>
    <li>Beta v2-6: Add Course: Pars are highlited after going back to previously edited hole.</li>
    <li>Beta v2-5: Added Bingo, Bango, Bongo game.</li>
    <li>Beta v2-4: Players moved to the new line on Round page.</li>
    <li>Beta v2-3: Add Round: Strokes and putts are highlited after going back to previously edited hole.</li>
    <li>Beta v2-2: Corrected spelling mistake on Round page.</li>
    <li>Beta v2-1: Done button for Hole Stake game replaced by label. It becomes button during edition.</li>
    <p></p>
    <li>Beta v1-11: Standarized button size for hole, par, strokes, putts on add course and add round pages.</li>
    <li>Beta v1-10: Added explanation to WHS and guiding format on registration and update player pages.</li>
    <li>Beta v1-9: Now, the putts are included in number of strokes on add round page.</li>
    <li>Beta v1-8: Corrected spelling on add round page.</li>
    <li>Beta v1-7: Modified add round page: deactivate par and stroke buttons after hole change.</li>
    <li>Beta v1-6: Modified add course page: deactivate par buttons after hole change.</li>
    <li>Beta v1-5: Fixed an issue with hole game last row incorrect completed label.</li>
    <li>Beta v1-4: Added 2 player option for hole game. Updated game rules.</li>
    <li>Beta v1-3: Added optional nicks for hole game.</li>
    <li>Beta v1-2: Added stake explanation to Hole Stake game. Fixed some spelling mistakes.</li>
    <li>Beta v1-1: Problem with colon for WHS fixed. Separator replaced with dot.</li>
  </ul>
</div>
<div>
  <br />
  <button type="button" class="btn btn-success" routerLink="/home">
    Cancel
  </button>
</div>
