<div *ngIf="display">
  <h2>{{ course.name }} &nbsp; {{displayResult}}</h2>
  <form [formGroup]="addScorecardForm">
  <div class="form-row">
    <div class="form-group col">
      <input
        type="text"
        maxlength="10"
        formControlName="date"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.date.errors }"
        placeholder="YYYY/MM/DD"
      />
      <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
        <div *ngIf="f.date.errors.required">Date is required</div>
        <div *ngIf="f.date.errors.pattern">Provide the date in the YYYY/MM/DD format</div>
      </div>
    </div>
    &nbsp;
    <div class="form-group col">
      <input
        type="text"
        maxlength="5"
        formControlName="teeTime"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.teeTime.errors }"
        placeholder="HH:MM"
      />
      <div *ngIf="submitted && f.teeTime.errors" class="invalid-feedback">
        <div *ngIf="f.teeTime.errors.required">Tee time is required</div>
        <div *ngIf="f.teeTime.errors.pattern">Provide the valid tee time</div>
      </div>
    </div>
    <div class="form-group col">
      <p-dropdown
        formControlName="teeDropDown"
        [options]="teeOptions"
        [ngClass]="{ 'is-invalid': submitted && f.teeDropDown.errors }"
        placeholder="tee">
      </p-dropdown>
      <div *ngIf="submitted && f.teeDropDown.errors" class="invalid-feedback">
        <div *ngIf="f.teeDropDown.errors.required">Tee is required</div>
      </div>
    </div>
    <br />
    <br />
  </div>
  <div style="display: block">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
  <br />

  <div class="row">
    <div class="col-sm-1">
      Hole:
    </div>
    <div>
      <div class="btn-group-toggle flex-wrap" data-toggle="buttons">
        <label *ngFor="let hole of barChartLabels; let i = index" class="btn btn-outline-success buttonWidth" [ngClass]="holeSelectorActive[i]">
          <input type="radio" (click)="selectHole(hole)"> {{ hole }}
        </label>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-1">
      Strokes:
    </div>
    <div>
      <div class="btn-group-toggle flex-wrap" data-toggle="buttons">
        <label *ngFor="let stroke of strokeButtons; let i = index" class="btn btn-outline-success buttonWidth" [ngClass]="strokeSelectorActive[i]">
          <input type="radio" (click)="selectStroke(stroke)"> {{ stroke }}
        </label>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-1">
      Putts:
    </div>
    <div>
      <div class="btn-group-toggle flex-wrap" data-toggle="buttons">
        <label *ngFor="let pat of patButtons; let i = index" class="btn btn-outline-success buttonWidth" [ngClass]="patSelectorActive[i]">
          <input type="radio" (click)="selectPat(pat)"> {{ pat }}
        </label>
      </div>
    </div>
  </div>
  <div>
    <br />
    <div class="form-group">
    <button [disabled]="loading" class="btn btn-success" (click)="onSubmit()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>
    &nbsp;
    <button type="button" class="btn btn-success" (click)="clear()">
      Clear
    </button>
    &nbsp;
    <button type="button" class="btn btn-success" (click)="onCancel()">
      Cancel
    </button>
    </div>
  </div>
</form>
</div>

<router-outlet></router-outlet>
