<div *ngIf="display">
  <h2>{{ course.name }}</h2>
  <form [formGroup]="addScorecardForm">
  <div class="form-row">
    <div class="form-group col">
      <input
        type="text"
        maxlength="10"
        formControlName="date"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.date.errors }"
        placeholder="YYYY/MM/DD"
      />
      <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
        <div *ngIf="f.date.errors.required">Date is required</div>
        <div *ngIf="f.date.errors.pattern">Provide the date in the YYYY/MM/DD format</div>
      </div>
    </div>
    &nbsp;
    <div class="form-group col">
      <input
        type="text"
        maxlength="5"
        formControlName="teeTime"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.teeTime.errors }"
        placeholder="HH:MM"
      />
      <div *ngIf="submitted && f.teeTime.errors" class="invalid-feedback">
        <div *ngIf="f.teeTime.errors.required">Tee time is required</div>
        <div *ngIf="f.teeTime.errors.pattern">Provide the valid tee time</div>
      </div>
    </div>
    <br />
    <br />
  </div>
  <div style="display: block">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-1">
      Hole:
    </div>
    <div>
      <div
        class="btn-group btn-group-justified flex-wrap"
        role="group"
        aria-label="hole group"
      >
        <div *ngFor="let hole of barChartLabels">
          <button
            type="radio"
            name="hole"
            class="btn btn-outline-success"
            (click)="selectHole(hole)"
          >
            {{ hole }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-1">
      Stroke:
    </div>
    <div>
      <div
        class="btn-group btn-group-justified flex-wrap"
        role="group"
        aria-label="stroke group"
      >
        <div *ngFor="let stroke of strokeButtons">
          <button
            type="radio"
            name="stroke"
            class="btn btn-outline-success"
            (click)="selectStroke(stroke)"
          >
            {{ stroke }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-1">
      Pats:
    </div>
    <div>
      <div
        class="btn-group btn-group-justified flex-wrap"
        role="group"
        aria-label="pat group"
      >
        <div *ngFor="let pat of patButtons">
          <button
            type="radio"
            name="pat"
            class="btn btn-outline-success"
            (click)="selectPat(pat)"
          >
            {{ pat }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <br />
    <div class="form-group">
    <button type="button" class="btn btn-success" (click)="onSubmit()">Save</button>
    &nbsp;
    <button type="button" class="btn btn-success" (click)="clear()">
      Clear
    </button>
    &nbsp;
    <button type="button" class="btn btn-success" routerLink="">
      Cancel
    </button>
    </div>
  </div>
</form>
</div>

<router-outlet></router-outlet>
