<div [loading]="!displaySgn()" loadingSize="lg" loadingColor="text-success" style="min-height: 4rem">

    <div>
      <h2 i18n="@@onlineScoreCard-noCards">No active score cards</h2>
    </div>
    <br />
    <div div style="display: flex; flex-wrap: wrap; gap: 8px; align-items: center; margin-top: 8px;">
       
      <button type="button" class="btn btn-success golf-width-150" routerLink= "/courses" [state]="{ data: { parent: 'addOnlineRound' } }" i18n="@@onlineScoreCard-start">
        Start Round
      </button>
      <button type="button" class="btn btn-success golf-width-150" routerLink="/home" i18n="@@onlineScoreCard-cancel">Cancel</button>
    </div>
    
</div>

