<div *ngIf="display">
  <br/>
  <div class="table-responsive">
    <table id="holeStake-tbl" class="table table-bordered" aria-describedby="Round summary">
      <thead>
        <tr>
          <th id="player">Player</th>
          <th id="whs">WHS</th>
          <th id="cHCP">Course HCP</th>
          <th id="scor">Score</th>
          <th id="cscor">Cor. Score</th>
          <th id="nscor">Net Score</th>
          <th id="sNet">STB Net</th>
          <th id="stb">STB</th>
          <th id="sDif">Score diff</th>
          <th id="putts">Putts</th>
          <th id="pen">Penalties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pl of round.player; let i = index">
          <th id="nick">{{pl.nick}}</th>
          <td>{{pl.roundDetails.whs}}</td>
          <ng-container *ngIf="round.player[i].roundDetails.ninesFull !== -1">
            <td>{{pl.roundDetails.courseHCP}}</td>
            <td>{{score[i]}}</td>
            <td>{{corScore[i]}}</td>
            <td>{{netScore[i]}}</td>
            <td>{{stbNet[i]}}</td>
            <td>{{stbGross[i]}}</td>
            <td>{{pl.roundDetails.scoreDiff | number: '1.1-1'}}</td>
          </ng-container>
          <ng-container *ngIf="round.player[i].roundDetails.ninesFull == -1">
            <td></td>
            <td>{{score[i]}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </ng-container>
          <td>{{putts[i]}}</td>
          <td>{{penalties[i]}}</td>
        </tr>
      </tbody>
    </table>
</div>
