<div>
  <h3>Bingo, Bango, Bongo: stake {{stake}}</h3>
</div>
<p></p>
<table id="holeStake-tbl" class="table">
  <thead>
    <tr>
      <th>Hole</th>
      <th>{{playerNicks[0]}}</th>
      <th>{{playerNicks[1]}}</th>
      <th *ngIf="players > 2">{{playerNicks[2]}}</th>
      <th *ngIf="players > 3">{{playerNicks[3]}}</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hole of holes">
      <td>
        {{hole}}
      </td>

      <span *ngIf="hole === currentHole || hole === editHole + 1; then showPlayerBtns else showPlayerLbs"></span>
      <ng-template #showPlayerBtns>
        <td>
          <button name="p1" class="btn btn-outline-success btn-selector" (click)="onChangeResult(0, hole)">
            <span *ngIf="hole === currentHole">{{rowResult[0]}}</span>
            <span *ngIf="hole === editHole + 1">{{editResult[0]}}</span>
          </button>
        </td>
        <td>
          <button name="p2" class="btn btn-outline-success btn-selector" (click)="onChangeResult(1, hole)">
            <span *ngIf="hole === currentHole">{{rowResult[1]}}</span>
            <span *ngIf="hole === editHole + 1">{{editResult[1]}}</span>
          </button>
        </td>
        <td *ngIf="players > 2">
          <button name="p3" class="btn btn-outline-success btn-selector" (click)="onChangeResult(2, hole)">
            <span *ngIf="hole === currentHole">{{rowResult[2]}}</span>
            <span *ngIf="hole === editHole + 1">{{editResult[2]}}</span>
          </button>
        </td>
        <td *ngIf="players > 3">
          <button name="p4" class="btn btn-outline-success btn-selector" (click)="onChangeResult(3, hole)">
            <span *ngIf="hole === currentHole">{{rowResult[3]}}</span>
            <span *ngIf="hole === editHole + 1">{{editResult[3]}}</span>
          </button>
        </td>
      </ng-template>
      <ng-template #showPlayerLbs>
        <td>
          {{gameResult[hole - 1][0]}}
        </td>
        <td>
          {{gameResult[hole - 1][1]}}
        </td>
        <td  *ngIf="players > 2">
          {{gameResult[hole - 1][2]}}
        </td>
        <td *ngIf="players > 3">
          {{gameResult[hole - 1][3]}}
        </td>
      </ng-template>

      <td *ngIf="hole == currentHole">
        <button name="completed" class="btn btn-outline-success btn-selector" (click)="onCompleted(hole - 1)">
          {{completedStatus[hole - 1]}}
        </button>
      </td>
      <td *ngIf="hole < currentHole && completedStatus[hole - 1] === 'Done'">
        <label name="completed" (click)="onEdit(hole - 1)">
          {{completedStatus[hole - 1]}}
        </label>
      </td>
      <td *ngIf="hole < currentHole && completedStatus[hole - 1] === 'Edit'">
        <button name="completed" class="btn btn-outline-success btn-selector" (click)="onEdit(hole - 1)">
          Done
        </button>
      </td>
      <td *ngIf="hole >currentHole">
        {{completedStatus[hole - 1]}}
      </td>
    </tr>
    <tr [ngClass]="'score'">
      <td>Score</td>
      <td>{{score[0]}}</td>
      <td>{{score[1]}}</td>
      <td *ngIf="players > 2">{{score[2]}}</td>
      <td *ngIf="players > 3">{{score[3]}}</td>
    </tr>
    <tr [ngClass]="'score'">
      <td>Payement</td>
      <td *ngIf="payment[0] != 0">{{payment[0] | number: '1.1-2'}}</td>
      <td *ngIf="payment[0] === 0">WIN</td>
      <td *ngIf="payment[1] != 0">{{payment[0] | number: '1.1-2'}}</td>
      <td *ngIf="payment[1] === 0">WIN</td>
      <td *ngIf="players > 2 && payment[2] != 0">{{payment[2] | number: '1.1-2'}}</td>
      <td *ngIf="players > 2 && payment[2] === 0">WIN</td>
      <td *ngIf="players > 3 && payment[3] != 0">{{payment[3] | number: '1.1-2'}}</td>
      <td *ngIf="players > 3 && payment[3] === 0">WIN</td>
    </tr>
  </tbody>
</table>
<div>
  <button type="button" class="btn btn-success" routerLink="">
    Cancel
  </button>
</div>

