<p></p>
<table class="table table-striped" aria-describedby="List of rounds">
  <thead>
    <tr>
      <th id="select"></th>
      <th id="date" i18n="@@listRounds-date">Date</th>
      <th id="teeTime">Tee Time</th>
      <th id="course" i18n="@@listRounds-course">Course</th>
      @if (roundsNavigationService.selectedTab() === 1) {
        <th id="players" i18n="@@listRounds-players">Players</th>
      }
      <th id="type" i18n="@@listRounds-type">Type</th>
      @if (authenticationService.playerRole.includes('ADMIN')) {
        <th id="id">ID</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (round of roundsNavigationService.rounds(); track round) {
      <tr>
        <td>
          <a href="#" routerLink ="/round" [state]="{data: {round: round, back: true}}">
            <fa-icon [icon]="faSearchPlus" class="golf-green"></fa-icon>
          </a>
        </td>
        <td>{{ round.roundDate | date: "mediumDate" }}</td>
        <td>{{ round.roundDate | date: "H:mm"}}</td>
        <td>{{ round.course.name }}</td>
        @if (roundsNavigationService.selectedTab() === 1) {
          <td>
            @for (player of round.player; track player) {
              <span>
                {{player.nick}}<br/>
              </span>
            }
          </td>
        }
        @if (round.matchPlay) {
          <td>MP</td>
        }
        @if (!round.matchPlay) {
          <td>SP</td>
        }
        @if (authenticationService.playerRole.includes('ADMIN')) {
          <td>{{round.id}}</td>
        }
      </tr>
    }
  </tbody>
</table>

