<p></p>
<table class="table table-striped" aria-describedby="List of rounds">
  <thead>
    <tr>
      <th id="select"></th>
      <th id="date" i18n="@@listRounds-date">Date</th>
      <th id="teeTime">Tee Time</th>
      <th id="course" i18n="@@listRounds-course">Course</th>
      <th id="players" *ngIf="selectedTab === 1" i18n="@@listRounds-players">Players</th>
      <th id="type" i18n="@@listRounds-type">Type</th>
      <th id="id" *ngIf="authenticationService.playerRole.includes('ADMIN')">ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let round of rounds">
      <td>
        <a href="#" routerLink ="/round" [state]="{data: {round: round}}">
          <fa-icon [icon]="faSearchPlus" class="golf-green"></fa-icon>
        </a>
      </td>
      <td>{{ round.roundDate | date: "mediumDate" }}</td>
      <td>{{ round.roundDate | date: "H:mm"}}</td>
      <td>{{ round.course.name }}</td>
      <td *ngIf="selectedTab === 1">
        <span *ngFor="let player of round.player">
          {{player.nick}}<br/>
        </span>
      </td>
      <td *ngIf="round.matchPlay">MP</td>
      <td *ngIf="!round.matchPlay">SP</td>
      <td *ngIf="authenticationService.playerRole.includes('ADMIN')">{{round.id}}</td>
    </tr>
  </tbody>
</table>

