<div [loading]="!display" loadingSize="lg" loadingColor="text-success" style="min-height: 4rem">
  <h2>{{ cycle.name }}</h2>
  <ul class="nav nav-tabs" id="myTab">
    <li class="nav-item">
      <button class="nav-link active" id="results-tab" data-bs-toggle="tab" data-bs-target="#results" type="button"
      role="tab" aria-controls="results" aria-selected="true" i18n="@@cycleDetails-results">Results</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="tournaments-tab" data-bs-toggle="tab" data-bs-target="#tournaments" type="button"
      role="tab" aria-controls="tournaments" aria-selected="false" i18n="@@cycleDetails-tour">Tournaments</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="results" role="tabpanel" aria-labelledby="results-tab">
      <app-cycle-results [cycle]='cycle' [cycleResults]='cycleResults' [cycleTournaments]='cycleTournaments'></app-cycle-results>
    </div>
    <div class="tab-pane fade" id="tournaments" role="tabpanel" aria-labelledby="tournaments-tab">
      <app-cycle-tournament [cycle]='cycle' [cycleTournaments]='cycleTournaments'></app-cycle-tournament>
    </div>
  </div>
  <div style="display: flex; flex-wrap: wrap; gap: 8px; align-items: center; margin-top: 8px;">
  
    <button type="button" class="btn btn-success golf-margin-bottom-6 golf-width-210" routerLink="/cycles" i18n="@@cycleDetails-cancel">
      Cancel
    </button>
  
    @if (cycle.status === statusConst.STATUS_OPEN) {  
      <button type="button" *can="'ADMIN'" [loading]="loadingAddTour" [disabled]="loadingAddTour" class="btn btn-success add golf-margin-bottom-6 golf-width-210" (click)="addTournament()"> 
        <span i18n="@@cycleDetails-add">Add tournament</span>
      </button>
      <button type="button" *can="'ADMIN'" [loading]="loadingClose" [disabled]="loadingClose" class="btn btn-success cls golf-margin-bottom-6 golf-width-210" (click)="closeCycle()">
        <span i18n="@@cycleDetails-close">Close cycle</span>
      </button>
    }
    @if (cycle.status === statusConst.STATUS_OPEN && cycleTournaments?.length > 0) {
      <button type="button" *can="'ADMIN'" [loading]="loadingDeleteTour" [disabled]="loadingDeleteTour" class="btn btn-success lst golf-margin-bottom-6 golf-width-210" (click)="deleteLast()">
        <span i18n="@@cycleDetails-deletetLast">Delete last tournament</span>
      </button>
    }
    <button type="button" *can="'ADMIN'" [loading]="loadingDeleteCycle" [disabled]="loadingDeleteCycle" class="golf-margin-bottom-6 btn btn-success del2 golf-width-210" (click)="deleteCycle()">
      <span i18n="@@cycleDetails-delCycle">Delete cycle</span>
    </button>
  </div>
</div>



