<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <button class="nav-link active" id="resetPasword-tab" data-bs-toggle="tab" data-bs-target="#resetPasword" type="button"
      role="tab" aria-controls="resetPasword" aria-selected="true" (click)="loadComponent(0)">Reset Password</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="moveCourse-tab" data-bs-toggle="tab" data-bs-target="#moveCourse" type="button"
      role="tab" aria-controls="moveCourse" aria-selected="false" (click)="loadComponent(1)">Course to history</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="updHcp-tab" data-bs-toggle="tab" data-bs-target="#updHcp" type="button"
      role="tab" aria-controls="updHcp" aria-selected="false" (click)="loadComponent(2)">Update Round HCP</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="plrRndCnt-tab" data-bs-toggle="tab" data-bs-target="#plrRndCnt" type="button"
      role="tab" aria-controls="plrRndCnt" aria-selected="false" (click)="loadComponent(3)">Player Management</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="updPlayerRnd-tab" data-bs-toggle="tab" data-bs-target="#updPlrRnd" type="button"
      role="tab" aria-controls="updPlrRnd" aria-selected="false" (click)="loadComponent(4)">Swap Round Player</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <p></p>
  <div class="tab-pane fade show active" id="resetPasword" role="tabpanel" aria-labelledby="resetPasword-tab"></div>
    <ng-container #adminContainer></ng-container>
  <div class="tab-pane fade" id="moveCourse" role="tabpanel" aria-labelledby="moveCourse-tab">
    <ng-container #adminContainer></ng-container>
  </div>
  <div class="tab-pane fade" id="updHcp" role="tabpanel" aria-labelledby="updHcp-tab">
    <ng-container #adminContainer></ng-container>
  </div>
  <div class="tab-pane fade" id="plrRndCnt" role="tabpanel" aria-labelledby="plrRndCnt-tab">
    <ng-container #adminContainer></ng-container>
  </div>
  <div class="tab-pane fade" id="updPlrRnd" role="tabpanel" aria-labelledby="updPlayerRnd-tab">
    <ng-container #adminContainer></ng-container>
  </div>
</div>
