@if (!displaySgn()) {
  <div class="d-flex justify-content-center">
    <span class="spinner-border text-success" style="width: 3rem; height: 3rem;"></span>
  </div>
}
@if (displaySgn()) {
  <div>
    <br/>
    <div class="table-responsive">
      <table id="holeStake-tbl" class="table table-bordered" aria-describedby="View MP round">
        <thead>
          <tr>
            <th id="hole" i18n="@@roundViewMp-hole" class="center">Hole</th>
            @for (i of 9 | range; track i;) {
              <th  id="no" class="w-5">
                {{i + 1}}
              </th>
            }
            <th  id="out" class="center">OUT</th>
            @for (index of 9 | range; track index; let i = $index) {
              <th  id="no" class="w-5">
                {{i + 10}}
              </th>
            }
            <th  id="in" class="center">IN</th>
            <th  id="total" class="center">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th  id="par" class="center">PAR</th>
            @for (i of 9 | range; track i;) {
              <td class="center">
                {{round().course.holes[i].par}}
              </td>
            }
            <th  id="firstPar" class="center">{{first9parSgn()}}</th>
            @for (i of 9 | range; track i;) {
              <td class="center">
                {{round().course.holes[i + 9].par}}
              </td>
            }
            <th  id="lpar" class="center">{{last9parSgn()}}</th>
            <th  id="ptotal" class="center">{{first9parSgn() + last9parSgn()}}</th>
          </tr>
          <tr>
            <th  id="si" class="center">SI</th>
            @for (i of 9 | range; track i;) {
              <td class="center">
                {{round().course.holes[i].si}}
              </td>
            }
            <th  id="empty"></th>
            @for (i of 9 | range; track i;) {
              <td class="center">
                {{round().course.holes[i + 9].si}}
              </td>
            }
            <th  id="empty"></th>
            <th  id="empty"></th>
          </tr>
          @for (idx of 2 | range; track idx;) {
            <tr class="center">
              <th  id="bck">Team {{idx + 1}}</th>
              @for (i of 9 | range; track i;) {
                <td class="center" [ngClass]="highlightResultSgn()[idx][i]">
                  {{mpResultHistorySgn()[idx][i]}}
                </td>
              }
              <th  id="mpr" class="center"></th>
              @for (index2 of 9 | range; track index2; let i = $index) {
                <td class="center" [ngClass]="highlightResultSgn()[idx][i + 9]">
                  {{mpResultHistorySgn()[idx][i + 9]}}
                </td>
              }
              <th  id="mpt2" class="center"></th>
              <th  id="mp3" class="center"></th>
            </tr>
          }
          <tr id="empty" colspan="21">&nbsp;</tr>
          @for (idx of 4 | range; track idx;) {
            <tr class="center">
              <th  id="bck">{{round().player[idx].nick}}</th>
              @for (i of 9 | range; track i;) {
                <td class="center" [ngClass]="[highlightHCPSgn()[idx][i], highlightWinnerSgn()[idx][i]]">
                  {{round().scoreCard[i + (idx * 18)].stroke}}
                </td>
              }
              <th  id="mpr" class="center"></th>
              @for (index2 of 9 | range; track index2; let i = $index) {
                <td class="center" [ngClass]="[highlightHCPSgn()[idx][i + 9], highlightWinnerSgn()[idx][i + 9]]">
                   {{round().scoreCard[i + 9 + (idx * 18)].stroke}}
                </td>
              }
              <th  id="mpt2" class="center"></th>
              <th  id="mp3" class="center"> Team {{ teamNumbers[idx] }}</th>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div>
      <br/>
      @if (mpResultSgn()[1] === undefined) {
        <h3>
          {{mpResultSgn()[0]}}
        </h3>
      }
      @if (mpResultSgn()[1] !== undefined) {
        <h3 style="color: red; font-weight: bold;">
          {{mpResultSgn()[1]}}
        </h3>
      }
    </div>
  </div>
}
