<app-online-nav [curHoleStrokesSgn] = 'curHoleStrokesSgn()'
                  [curPlayerIdxSgn] = 'curPlayerIdxSgn()'
                  [puttSelectorActiveSgn] = 'puttSelectorActiveSgn()'
                  [roundsSgn] = 'roundsSgn()'
                  [curHolePuttsSgn] = 'curHolePuttsSgn()'
                  [penaltySelectorActiveSgn] = 'penaltySelectorActiveSgn()'
                  [curHolePenaltiesSgn] = 'curHolePenaltiesSgn()'
                  [addScore] = 'addScore.bind(this)'
                  [inProgressSgn] = 'inProgressSgn()'>
</app-online-nav>
<div>
  <app-common-scorecard [curHoleIdxSgn] = 'curHoleIdxSgn()'
                        [curHoleStrokesSgn] = 'curHoleStrokesSgn()'
                        [curHolePuttsSgn] = 'curHolePuttsSgn()'
                        [curHolePenaltiesSgn] = 'curHolePenaltiesSgn()'
                        [roundsSgn] = 'roundsSgn()'
                        [ballPickedUpSgn] = 'ballPickedUpSgn()'
                        [totalStrokesSgn] = 'totalStrokesSgn()'
                        [curPlayerStyleSgn] = 'curPlayerStyleSgn()'>
  </app-common-scorecard>
</div>
<br/>
