<app-online-nav [curHoleStrokes] = 'curHoleStrokes()'
                  [curPlayerIdx] = 'curPlayerIdx()'
                  [puttSelectorActive] = 'puttSelectorActive()'
                  [roundsSgn] = 'roundsSgn'
                  [curHolePutts] = 'curHolePutts()'
                  [penaltySelectorActive] = 'penaltySelectorActive()'
                  [curHolePenalties] = 'curHolePenalties()'
                  [addScore] = 'addScore.bind(this)'
                  [inProgress] = 'inProgress()'>
</app-online-nav>
<div>
  <app-common-scorecard [curHoleIdx] = 'curHoleIdx()'
                        [curHoleStrokes] = 'curHoleStrokes()'
                        [curHolePutts] = 'curHolePutts()'
                        [curHolePenalties] = 'curHolePenalties()'
                        [roundsSgn] = 'roundsSgn'
                        [ballPickedUp] = 'ballPickedUp()'
                        [totalStrokes] = 'totalStrokes()'
                        [curPlayerStyle] = 'curPlayerStyle'>
  </app-common-scorecard>
</div>
<br/>
