<div *ngIf="data.parent === 'addRound'">
  <h2>Select course for round</h2>
</div>
<div *ngIf="data.parent === 'courses'">
  <h2 *ngIf="selectedTab === 0">Favourite courses</h2>
  <h2 *ngIf="selectedTab === 1">Search for a course</h2>
  <h2 *ngIf="selectedTab === 2">List of all courses</h2>
</div>
<div *ngIf="data.parent === 'addOnlineRound'">
  <h2>Select course for online round</h2>
</div>
<br/>
<ul class="nav nav-tabs" id="coursesTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="favourites-tab" data-toggle="tab" href="#favourites" role="tab"
      aria-controls="favourites" aria-selected="true" (click)="onTabClick(0)">Favourites</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="search-tab" data-toggle="tab" href="#search" role="tab"
      aria-controls="search" aria-selected="false" (click)="onTabClick(1)">Search</a>
  </li>
  <li *ngIf="authenticationService.playerRole.includes('ADMIN')" class="nav-item">
    <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab"
      aria-controls="all" aria-selected="false" (click)="onTabClick(2)">All courses</a>
  </li>
</ul>
<div class="tab-content" id="coursesTabContent">
  <div class="tab-pane fade show active" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
    <app-list-courses [courses]='courses' [data]='data' [selectedTab]='selectedTab' *ngIf="selectedTab == 0"></app-list-courses>
  </div>
  <div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
    <br/>
    <form [formGroup]="searchCourseForm" (keyup)="onKey($event)">
      <div class="form-group">
        <label for="courseName">Enter course Name:</label>
        <input type="text" formControlName="courseName" class="form-control"/>
      </div>
    </form>
    <br/>
    <div *ngIf="loading" class="d-flex justify-content-center">
      <span class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status"></span>
    </div>
    <app-list-courses *ngIf="!loading && selectedTab == 1" [courses]='courses' [data]='data' [selectedTab]='selectedTab'></app-list-courses>
  </div>
  <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
    <app-list-courses [courses]='courses' [data]='data' [selectedTab]='selectedTab' *ngIf="selectedTab == 2"></app-list-courses>
  </div>
</div>
<div>
  <br />
  <button type="button" class="btn btn-success" routerLink="/home">
    Cancel
  </button>
  <span *ngIf="data.parent === 'courses'">
    &nbsp;
    <button type="button" class="btn btn-success" routerLink="/addCourse">
      Add Course
    </button>
  </span>
</div>
