<div *ngIf="!display" class="d-flex justify-content-center">
  <span class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status"></span>
</div>
<div *ngIf="display">
  <br/>
  <div class="table-responsive">
    <table id="holeStake-tbl" class="table table-bordered" aria-describedby="View MP round">
      <thead>
        <tr>
          <th id="hole">Hole</th>
          <th  id="no" *ngFor="let i = index of counter(9)" class="w-5">
            {{i + 1}}
          </th>
          <th  id="out">OUT</th>
          <th  id="no" *ngFor="let i = index of counter(9)" class="w-5">
            {{i + 10}}
          </th>
          <th  id="in">IN</th>
          <th  id="total">TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th  id="par">PAR</th>
          <td *ngFor="let i = index of counter(9)" class="center">
            {{round.course.holes[i].par}}
          </td>
          <th  id="firstPar" class="center">{{first9par}}</th>
          <td *ngFor="let i = index of counter(9)" class="center">
            {{round.course.holes[i + 9].par}}
          </td>
          <th  id="lpar" class="center">{{last9par}}</th>
          <th  id="ptotal" class="center">{{first9par + last9par}}</th>
        </tr>
        <tr>
          <th  id="si">SI</th>
          <td *ngFor="let i = index of counter(9)" class="center">
            {{round.course.holes[i].si}}
          </td>
          <th  id="empty"></th>
          <td *ngFor="let i = index of counter(9)" class="center">
            {{round.course.holes[i + 9].si}}
          </td>
          <th  id="empty"></th>
          <th  id="empty"></th>
        </tr>
        <tr *ngFor="let idx =index of counter(2)" class="center">
          <th  id="bck">{{round.player[idx].nick}}</th>
          <td *ngFor="let i = index of counter(9)" class="center">
            {{mpResultHistory[idx][i]}}
          </td>
          <th  id="mpr" class="center"></th>
          <td *ngFor="let i = index of counter(9)" class="center">
            {{mpResultHistory[idx][i + 9]}}
          </td>
          <th  id="mpt2" class="center"></th>
          <th  id="mp3" class="center"></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <br/>
    <h3 *ngIf="mpResult[1] === undefined">
      {{mpResult[0]}}
    </h3>
    <h3 *ngIf="mpResult[1] !== undefined" style="color: red; font-weight: bold;">
      {{mpResult[1]}}
    </h3>
  </div>
</div>
