@if (!display) {
  <div class="d-flex justify-content-center">
    <span class="spinner-border text-success" style="width: 3rem; height: 3rem;"></span>
  </div>
}
@if (display) {
  <div>
    <br/>
    <div class="table-responsive">
      <table id="holeStake-tbl" class="table table-bordered" aria-describedby="View MP round">
        <thead>
          <tr>
            <th id="hole" i18n="@@roundViewMp-hole">Hole</th>
            @for (i of 9 | range; track i;) {
              <th  id="no" class="w-5">
                {{i + 1}}
              </th>
            }
            <th  id="out">OUT</th>
            @for (index of 9 | range; track index; let i = $index) {
              <th  id="no" class="w-5">
                {{i + 10}}
              </th>
            }
            <th  id="in">IN</th>
            <th  id="total">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th  id="par">PAR</th>
            @for (i of 9 | range; track i;) {
              <td class="center">
                {{round().course.holes[i].par}}
              </td>
            }
            <th  id="firstPar" class="center">{{first9par}}</th>
            @for (i of 9 | range; track i;) {
              <td class="center">
                {{round().course.holes[i + 9].par}}
              </td>
            }
            <th  id="lpar" class="center">{{last9par}}</th>
            <th  id="ptotal" class="center">{{first9par + last9par}}</th>
          </tr>
          <tr>
            <th  id="si">SI</th>
            @for (i of 9 | range; track i;) {
              <td class="center">
                {{round().course.holes[i].si}}
              </td>
            }
            <th  id="empty"></th>
            @for (i of 9 | range; track i;) {
              <td class="center">
                {{round().course.holes[i + 9].si}}
              </td>
            }
            <th  id="empty"></th>
            <th  id="empty"></th>
          </tr>
          @for (idx of 2 | range; track idx;) {
            <tr class="center">
              <th  id="bck">{{round().player[idx].nick}}</th>
              @for (i of 9 | range; track i;) {
                <td class="center" [ngClass]="highlightHCP[idx][i]">
                  {{mpResultHistory[idx][i]}}
                </td>
              }
              <th  id="mpr" class="center"></th>
              @for (index2 of 9 | range; track index2; let i = $index) {
                <td class="center" [ngClass]="highlightHCP[idx][i + 9]">
                  {{mpResultHistory[idx][i + 9]}}
                </td>
              }
              <th  id="mpt2" class="center"></th>
              <th  id="mp3" class="center"></th>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div>
      <br/>
      @if (mpResult[1] === undefined) {
        <h3>
          {{mpResult[0]}}
        </h3>
      }
      @if (mpResult[1] !== undefined) {
        <h3 style="color: red; font-weight: bold;">
          {{mpResult[1]}}
        </h3>
      }
    </div>
  </div>
}
