<table id="games-tbl" class="table table-striped">
  <thead>
    <tr>
      <th>Start</th>
      <th>Name</th>
      <th>Rules</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a [routerLink]="['/holeStakeSetup']">
          <fa-icon [icon]="faPlay" class="golf-green"></fa-icon>
        </a>
      </td>
      <td>Hole Stake</td>
      <td>
        <a [routerLink]="['/holeStakeRules']">
          <fa-icon [icon]="faSearchPlus" class="golf-green"></fa-icon>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a [routerLink]="['/bbbSetup']">
          <fa-icon [icon]="faPlay" class="golf-green"></fa-icon>
        </a>
      </td>
      <td>Bingo, Bango, Bongo (comming soon)</td>
      <td>
        <a [routerLink]="['/bbbRules']">
          <fa-icon [icon]="faSearchPlus" class="golf-green"></fa-icon>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <br />
  <button type="button" class="btn btn-success" routerLink="">
    Cancel
  </button>
</div>
