
<div *ngIf="!isDisplay()" class="d-flex justify-content-center">
  <span class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status"></span>
</div>
<div *ngIf="isDisplay()">
  <h2 span i18n="@@addMatch-hdr">Add match results for league: {{getLeague().name}}</h2>
  <br/>
  <form [formGroup]="matchResultForm">
    <div class="row align-items-start">
      <div class="col">
        <p-dropdown (onChange)="onChange()" formControlName="winnerDropDown" [options]="playerOptions"
          [ngClass]="{ 'is-invalid': isSubmitted() && f.winnerDropDown.errors }" placeholder="nick" [style]="{'width':'100px'}">
        </p-dropdown>
        &nbsp;
        <p-dropdown formControlName="resultDropDown" [options]="resultOptions"
          [ngClass]="{ 'is-invalid': isSubmitted() && f.resultDropDown.errors }" placeholder="result" [style]="{'width':'100px'}">
        </p-dropdown>
        &nbsp;
        <p-dropdown (onChange)="onChange()" formControlName="looserDropDown" [options]="playerOptions"
          [ngClass]="{ 'is-invalid': isSubmitted() && f.looserDropDown.errors }" placeholder="nick" [style]="{'width':'100px'}">
        </p-dropdown>
        <div *ngIf="isSubmitted() && (f.looserDropDown.errors || f.winnerDropDown.errors)" class="invalid-feedback">
          <div *ngIf="f.looserDropDown.errors.required" i18n="@@addMatch-nickReq">Winner and looser are required</div>
        </div>
        <div *ngIf="isSubmitted() && f.resultDropDown.errors" class="invalid-feedback">
          <div *ngIf="f.resultDropDown.errors.required" i18n="@@addMatch-resultReq">Result is required</div>
        </div>
      </div>
    </div>
  </form>
  <br/>
  <div>
    <div class="form-group">
      <button type="button" class="btn btn-success btn-clear w-80" (click)="clear()" i18n="@@addMatch-clear">
        Clear
      </button>
      &nbsp;
      <button type="button" class="btn btn-success btn-submit w-80" (click)="addMatchResult()" i18n="@@addMatch-add">
        Add
      </button>
    </div>
  </div>
</div>


