<h2>Rounds applicable for tournament: {{tournament.name}}</h2>
<br/>
<table class="table table-striped" aria-describedby="Tournament rounds">
  <thead>
    <tr>
      <th id="nav"></th>
      <th id="date" i18n="@@tourRunds-date">Date</th>
      <th id="tTime">Tee Time</th>
      <th id="cour" i18n="@@tourRunds-teeTime">Course</th>
      <th id="players" i18n="@@tourRunds-players">Players</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let round of rounds">
      <td>
        <a (click)="addRound(round)">
          <fa-icon [icon]="faPlusCircle" class="golf-green"></fa-icon>
        </a>
      </td>
      <td>{{ round.roundDate | date: "mediumDate" }}</td>
      <td>{{ round.roundDate | date: "H:mm"}}</td>
      <td>{{ round.course.name }}</td>
      <td>
        <span *ngFor="let player of round.player">
          {{player.nick}}<br/>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <br />
  <button type="button" class="btn btn-success" routerLink="/home" i18n="@@tourRunds-cancel">
    Cancel
  </button>
</div>

