<h2>Rounds applicable for tournament: {{tournament.name}}</h2>
<br/>
<table class="table table-striped" aria-describedby="Tournament rounds">
  <thead>
    <tr>
      <th id="date" i18n="@@tourRunds-date">Date</th>
      <th id="tTime">Tee Time</th>
      <th id="cour" i18n="@@tourRunds-teeTime">Course</th>
      <th id="players" i18n="@@tourRunds-players">Players</th>
    </tr>
  </thead>
  <tbody>
    @for (round of rounds; track round) {
      <tr>
        <td>{{ round.roundDate | date: "mediumDate" }}</td>
        <td>{{ round.roundDate | date: "H:mm"}}</td>
        <td>{{ round.course.name }}</td>
        <td>
          @for (player of round.player; track player) {
            @if (player) {

            }
            <span>
              
              <a (click)="addRound(round, player.id)">
                <fa-icon [icon]="faPlusCircle" class="golf-green"></fa-icon>
              </a>
              &nbsp;
              {{player.nick}} 
              <br/>
            </span>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
<div>
  <br />
  <button type="button" class="btn btn-success" routerLink="/tournaments/tournamentResults" i18n="@@tourRunds-cancel">
    Cancel
  </button>
</div>

