<div class="golf-theme">
  <h2 mat-dialog-title i18n="@@addTournamentDialog-header">Add the new cycle tournament</h2>
  <mat-dialog-content [formGroup]="form">
    <mat-form-field style="width: 250px;">
      <input matInput i18n-placeholder="@@addTournamentDialog-tournamentName" placeholder="Tournament name" formControlName="name" />
      <mat-error *ngIf="f.name.errors && f.name.errors.required" i18n="@@addTournamentDialog-tournamentReq">Tournament name is required</mat-error>
      <mat-error *ngIf="f.name.errors && f.name.errors.maxlength" i18n="@@addTournamentDialog-tournamentTooLng">Tournament name can be up to 30 characters long</mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content [formGroup]="form">
    <mat-form-field style="width: 250px;">
      <input matInput i18n-placeholder="@@addTournamentDialog-NoOfRounds" placeholder="Number of rounds" formControlName="rounds"/>
      <mat-error *ngIf="f.rounds.errors && f.rounds.errors.required" i18n="@@addTournamentDialog-NoRndsReq">No. of rounds is required</mat-error>
      <mat-error *ngIf="f.rounds.errors && f.rounds.errors.min" i18n="@@addTournamentDialog-NoRndsLow">No. of rounds cannot be lower than 1</mat-error>
      <mat-error *ngIf="f.rounds.errors && f.rounds.errors.max" i18n="@@addTournamentDialog-NoRndBig">No. of rounds cannot be greater than 4</mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content [formGroup]="form">
    <mat-checkbox formControlName="bestOf" i18n="@@addTournamentDialog-bestOff">Best of</mat-checkbox>
  </mat-dialog-content>

  <mat-dialog-content [formGroup]="form">
    <mat-form-field style="width: 250px;">
      <input matInput i18n-placeholder="@@addTournamentDialog-TourNo" placeholder="Tournament no." formControlName="tournamentNo"/>
      <mat-error *ngIf="f.tournamentNo.errors && f.tournamentNo.errors.required" i18n="@@addTournamentDialog-TourNoReq">Tournament no. is required</mat-error>
      <mat-error *ngIf="f.tournamentNo.errors && f.tournamentNo.errors.pattern" i18n="@@addTournamentDialog-TourNoPattern">Tournament no. must be 4 or 5 digits long</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button id="cancel" class="mat-raised-button mat-primary" (click)="close()"  i18n="@@addTournamentDialog-Cancel">
      Cancel
    </button>
    &nbsp;
    <button id="save" class="mat-raised-button mat-primary" (click)="save()"  i18n="@@addTournamentDialog-Save">Save</button>
  </mat-dialog-actions>
  <br />
  <p>
    <span i18n="@@addTournamentDialog-Tip1">Find tournamnet no.</span>
    <br />
    <span i18n="@@addTournamentDialog-Tip2">in Eagle</span>
      <br />
  </p>
</div>
