<div class="golf-theme">
  <h2 style="color: red" mat-dialog-title i18n="@@addTournamentDialog-header">Add the new cycle tournament</h2>
  <mat-dialog-content [formGroup]="form">
    <mat-form-field style="width: 250px;">
      <input matInput i18n-placeholder="@@addTournamentDialog-tournamentName" placeholder="Tournament name" formControlName="name" />
      @if (f.name.errors && f.name.errors.required) {
        <mat-error i18n="@@addTournamentDialog-tournamentReq">Tournament name is required</mat-error>
      }
      @if (f.name.errors && f.name.errors.maxlength) {
        <mat-error i18n="@@addTournamentDialog-tournamentTooLng">Tournament name can be up to 30 characters long</mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 250px;">
      <input matInput i18n-placeholder="@@addTournamentDialog-NoOfRounds" placeholder="Number of rounds" formControlName="rounds"/>
      @if (f.rounds.errors && f.rounds.errors.required) {
        <mat-error i18n="@@addTournamentDialog-NoRndsReq">No. of rounds is required</mat-error>
      }
      @if (f.rounds.errors && f.rounds.errors.min) {
        <mat-error i18n="@@addTournamentDialog-NoRndsLow">No. of rounds cannot be lower than 1</mat-error>
      }
      @if (f.rounds.errors && f.rounds.errors.max) {
        <mat-error i18n="@@addTournamentDialog-NoRndBig">No. of rounds cannot be greater than 4</mat-error>
      }
    </mat-form-field>

    <mat-checkbox formControlName="bestOf" i18n="@@addTournamentDialog-bestOff">Best of</mat-checkbox>

    <br/>
    <br/>

    <mat-form-field style="width: 250px;">
      <input matInput i18n-placeholder="@@addTournamentDialog-TourNo" placeholder="Tournament no." formControlName="tournamentNo"/>
      @if (f.tournamentNo.errors && f.tournamentNo.errors.required) {
        <mat-error i18n="@@addTournamentDialog-TourNoReq">Tournament no. is required</mat-error>
      }
      @if (f.tournamentNo.errors && f.tournamentNo.errors.pattern) {
        <mat-error i18n="@@addTournamentDialog-TourNoPattern">Tournament no. must be 4 or 5 digits long</mat-error>
      }
    </mat-form-field>

    <mat-dialog-actions>
      <button id="cancel" mat-raised-button color="primary" (click)="close()"  i18n="@@addTournamentDialog-Cancel">
        Cancel
      </button>
      &nbsp;
      <button id="save" mat-raised-button color="primary" (click)="save()"  i18n="@@addTournamentDialog-Save">Save</button>
    </mat-dialog-actions>
    <p>
      <span i18n="@@addTournamentDialog-Tip1">Find tournamnet no.&nbsp;</span>
      <span i18n="@@addTournamentDialog-Tip2">in Eagle</span>
    </p>
  </mat-dialog-content>
</div>
