<div class="golf-theme">
  <h2 style="color: red" mat-dialog-title>Player not found!</h2>

  <mat-dialog-content [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Player nick" formControlName="nick" />
      <mat-error *ngIf="f.nick.errors && f.nick.errors.required"
        >Nick is required</mat-error
      >
      <mat-error *ngIf="f.nick.errors && f.nick.errors.maxlength"
        >Nick can be up to 10 characters long</mat-error
      >
    </mat-form-field>
  </mat-dialog-content>
  <app-common-dialog [form] = 'form'></app-common-dialog>
  <mat-dialog-content [formGroup]="form">
    <mat-checkbox formControlName="female" (click)="sexClick(true)"
      >Female</mat-checkbox
    >
    &nbsp;
    <mat-checkbox formControlName="male" (click)="sexClick(false)"
      >Male</mat-checkbox
    >
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="close()">
      Cancel
    </button>
    &nbsp;
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
  </mat-dialog-actions>
  <br />
  <p>
    Create the new player or<br />
    cancel and search again. The<br />
    password will be 'welcome'.<br />
  </p>
</div>
