<form [formGroup]="updRoundHcpForm" (ngSubmit)="onSubmitUpdRoundHcp()">
  <div class="form-group">
    <label for="playrId">Player Id</label>
    <input
      type="text"
      formControlName="playerId"
      class="form-control"
      [ngClass]="{ 'is-invalid': submittedUpdRoundHcp && fupdRoundHcp.playerId.errors }"
      />
      @if (submittedUpdRoundHcp && fupdRoundHcp.playerId.errors) {
        <div
          class="invalid-feedback"
          >
          @if (fupdRoundHcp.playerId.errors.required) {
            <div>Player id is required</div>
          }
          @if (fupdRoundHcp.playerId.errors.pattern) {
            <div>
              Player id can be number to 6 characters long
            </div>
          }
        </div>
      }
    </div>
    <div class="form-group">
      <label for="roundId">Round id</label>
      <input
        type="text"
        formControlName="roundId"
        class="form-control"
        [ngClass]="{ 'is-invalid': submittedUpdRoundHcp && fupdRoundHcp.roundId.errors }"
        />
        @if (submittedUpdRoundHcp && fupdRoundHcp.roundId.errors) {
          <div
            class="invalid-feedback"
            >
            @if (fupdRoundHcp.roundId.errors.required) {
              <div>Round id is required</div>
            }
            @if (fupdRoundHcp.roundId.errors.pattern) {
              <div>
                Round id can be number to 6 characters long
              </div>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <label for="whs">WHS (handicap)</label>
        <input
          type="text"
          formControlName="whs"
          class="form-control"
          maxlength="4"
          [ngClass]="{ 'is-invalid': submittedUpdRoundHcp && fupdRoundHcp.whs.errors }"
          placeholder="X.X"
          />
          @if (submittedUpdRoundHcp && fupdRoundHcp.whs.errors) {
            <div class="invalid-feedback">
              @if (fupdRoundHcp.whs.errors.required) {
                <div>WHS is required</div>
              }
              @if (fupdRoundHcp.whs.errors.max) {
                <div>WHS is caannot be higer than 54</div>
              }
              @if (fupdRoundHcp.whs.errors.min) {
                <div>WHS is caannot be lower than -5</div>
              }
              @if (fupdRoundHcp.whs.errors.pattern) {
                <div>
                  Provide valid value with the follwoing format: X.X
                </div>
              }
            </div>
          }
        </div>
        <div class="form-group golf-margin-top">
          <button [disabled]="updRoundHcpLoading" class="btn btn-success">
            @if (updRoundHcpLoading) {
              <span
                class="spinner-border spinner-border-sm mr-1"
              ></span>
            }
            Update
          </button>
          <a routerLink="/home" class="btn btn-link text-success">Cancel</a>
        </div>
      </form>
