@if (!display) {
  <div class="d-flex justify-content-center">
    <span class="spinner-border text-success" style="width: 3rem; height: 3rem;"></span>
  </div>
}
@if (display) {
  <div>
    <h2 class="col" i18n="@@addCycle-AddLbl">Add the new cycle:</h2>
    <form [formGroup]="addCycleForm" (ngSubmit)="onSubmit()">
      <div class="form-group col">
        <label for="name">Cycle name</label>
        <input type="text" formControlName="name" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          @if (submitted && f.name.errors) {
            <div class="invalid-feedback">
              @if (f.name.errors.required) {
                <div i18n="@@addCycle-CycleReq">Cycle name must be provided</div>
              }
              @if (f.name.errors.minlength) {
                <div i18n="@@addCycle-CycleLength">Cycle name must be at least 3 characters long</div>
              }
            </div>
          }
        </div>
        <div class="form-group col">
          <label for="bestRounds" i18n="@@addCycle-BestRnd">No. of best rounds to be included (0 - all rounds)</label>
          <input type="text" formControlName="bestRounds" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.bestRounds.errors }" />
            @if (submitted && f.bestRounds.errors) {
              <div class="invalid-feedback">
                @if (f.bestRounds.errors.required) {
                  <div i18n="@@addCycle-BestRndReq">No. of best rounds must be provided</div>
                }
                @if (f.bestRounds.errors.min) {
                  <div i18n="@@addCycle-BestRndGreater">No. of best rounds must be greater than 0</div>
                }
                @if (f.bestRounds.errors.max) {
                  <div i18n="@@addCycle-BestRndLower">No. of best rounds must be lower than 20</div>
                }
              </div>
            }
          </div>
          <div class="form-group col">
            <label for="maxWhs" i18n="@@addCycle-MaxHcpLbl">Max. handicap to be included</label>
            <input type="text" formControlName="maxWhs" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.maxWhs.errors }" />
              @if (submitted && f.maxWhs.errors) {
                <div class="invalid-feedback">
                  @if (f.maxWhs.errors.required) {
                    <div i18n="@@addCycle-MaxHcpReq">Maximum handicap must be provided</div>
                  }
                  @if (f.maxWhs.errors.min) {
                    <div i18n="@@addCycle-MaxHcpGreter">Maximum handicap must be greater than -5</div>
                  }
                  @if (f.maxWhs.errors.max) {
                    <div i18n="@@addCycle-MaxHcpLower">Maximum handicap must be lower or equal than 54</div>
                  }
                  @if (f.maxWhs.errors.pattern) {
                    <div i18n="@@addCycle-MaxHcpPattern">Provide valid value with the follwoing format: X.X</div>
                  }
                </div>
              }
            </div>
            <div class="form-group col">
              <label for="version" i18n="@@addCycle-Version">Cycle version</label>
              <input type="text" formControlName="version" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.version.errors }" />
              @if (submitted && f.version.errors) {
                <div class="invalid-feedback">
                  @if (f.version.errors.required) {
                    <div i18n="@@addCycle-VersionReq">Version must be provided</div>
                  }
                  @if (f.version.errors.min) {
                    <div i18n="@@addCycle-VersionGreter">Min version is 0 - rules up to end of 2024</div>
                  }
                  @if (f.version.errors.max) {
                    <div i18n="@@addCycle-VersionLower">Max version is 1 - rules starting from 2025</div>
                  }
                </div>
              }
            </div>
            <div class="form-group col golf-margin-top">
              <button [disabled]="loading" class="btn btn-success">
                @if (loading) {
                  <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                <span i18n="@@addCycle-create">Create</span>
              </button>
              <a routerLink="/" class="btn btn-link text-success" i18n="@@addCycle-cancel">Cancel</a>
            </div>
          </form>
        </div>
      }
