<nav class="navbar navbar-dark bg-success">

  <a class="navbar-brand" href="#">DGNG v2.5</a>

  <button *ngIf="!currentPlayer" class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarToggleLogOut" aria-controls="navbarToggleExternalContent" aria-expanded="false"
    aria-label="Toggle navigation" (click)="onClick()" data-test="hamburger">
    <span class="navbar-toggler-icon"></span>
  </button>

  <button *ngIf="currentPlayer" class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarToggleLogIn" aria-controls="navbarToggleExternalContent" aria-expanded="false"
    aria-label="Toggle navigation" (click)="onClick()" data-test="hamburger">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="currentPlayer && display" class="collapse navbar-collapse" id="navbarToggleLogIn">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="#" routerLink="/scorecard" (click)="onClick()">Start/View On-line Score Cards</a></li>
      <li class="nav-item"><a class="nav-link" href="#" routerLink="/rounds" (click)="onClick()">Historical Rounds</a></li>
      <li class="nav-item"><a class="nav-link" href="#" routerLink="/tournaments" (click)="onClick()">Tournaments</a></li>
      <li class="nav-item"><a class="nav-link" routerLink= "/courses" [state]="{ data: { parent: 'courses' } }"(click)="onClick()">Courses</a></li>
      <li class="nav-item"><a class="nav-link" href="#" routerLink="/games" (click)="onClick()">Side Games</a></li>
      <li class="nav-item"><a class="nav-link" href="#" routerLink="/admin" (click)="onClick()">Administration</a></li>
      <li class="nav-item"><a class="nav-link" href="#" routerLink="/changeLog" (click)="onClick()">Change Log</a></li>
      <li class="nav-item"><a class="nav-link"  href="#" (click)="logout()" data-test="logout">Logout</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/updatePlayer" (click)="onClick()">
          <fa-icon [icon]="faCog"></fa-icon>
        </a></li>
    </ul>

  </div>

  <div *ngIf="!currentPlayer && display" class="collapse navbar-collapse" id="navbarToggleLogOut">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="#" routerLink="/login" (click)="onClick()">Login</a></li>
    </ul>

  </div>
</nav>
