<table id="games-tbl" class="table table-striped" aria-describedby="Games">
  <thead>
    <tr>
      <th id="start">Start</th>
      <th id="name">Name</th>
      <th id="rules">Rules</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="#" routerLink="gameSetup" [state]="{ data: { game: 1 } }">
            <fa-icon icon="play" class="golf-green"></fa-icon>
        </a>
      </td>
      <td>Hole Stake</td>
      <td>
        <a [routerLink]="['holeStakeRules']">
          <fa-icon icon="search-plus" class="golf-green"></fa-icon>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#" routerLink="gameSetup" [state]="{ data: { game: 2 } }">
          <fa-icon icon="play" class="golf-green"></fa-icon>
        </a>
      </td>
      <td>Bingo, Bango, Bongo</td>
      <td>
        <a [routerLink]="['bbbRules']">
          <fa-icon icon="search-plus" class="golf-green"></fa-icon>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <br />
  <button type="button" class="btn btn-success" routerLink="/home">
    Cancel
  </button>
  &nbsp;
  <button type="button" class="btn btn-success" (click)="onLastGames()">
    My last games
  </button>
</div>

