@if (!displaySgn()) {
  <div class="d-flex justify-content-center">
    <span class="spinner-border text-success" style="width: 3rem; height: 3rem;"></span>
  </div>
}
@if (displaySgn()) {
  <div>

    @if (loggedIdSgn() === ownerIdSgn()) {

      <app-common-scorecard-top [curHoleStrokesSgn] = 'curHoleStrokesSgn()'
        [curPlayerIdxSgn] = 'curPlayerIdxSgn()'
        [puttSelectorActiveSgn] = 'puttSelectorActive'
        [roundsSgn] = 'onlineRoundsSgn()'
        [curHolePuttsSgn] = 'curHolePutts'
        [penaltySelectorActiveSgn] = 'penaltySelectorActive'
        [curHolePenaltiesSgn] = 'curHolePenalties' 
        [addScore] = 'addScore.bind(this)'
        [curHoleIdxSgn] = 'curHoleIdxSgn()'
        [ballPickedUpSgn] = 'ballPickedUpSgn()'
        [totalStrokesSgn] = 'totalStrokesSgn()'
        [curPlayerStyleSgn] = 'curPlayerStyleSgn()'
        [inProgressSgn] = 'inProgress'>
      </app-common-scorecard-top>
    } @else {
      <button type="button" class="btn btn-success" (click)="refresh()">Refresh</button>
      <br />
      <br />
    }
    <div>
      <div>
        <h3>
          <span>
            SC
          </span>
          &nbsp;
          <button class="btn btn-outline-success" (click)="selectMode(0)" [ngClass]="{'golf-red': displayModeSgn() === 0}">
            STR
          </button>
          &nbsp;
          <button class="btn btn-outline-success" (click)="selectMode(2)" [ngClass]="{'golf-red': displayModeSgn() === 2}">
            STN
          </button>
          &nbsp;
          <button class="btn btn-outline-success" (click)="selectMode(1)" [ngClass]="{'golf-red': displayModeSgn() === 1}">
            STB
          </button>
          @if (onlineRoundsSgn().length > 2) {
            &nbsp;
            <button class="btn btn-outline-success" (click)="selectMode(3)" [ngClass]="{'golf-red': displayModeSgn() === 3}">
              SKN
            </button>
          }
        </h3>
      </div>
      <table id="holeStake-tbl" class="table table-bordered" aria-describedby="Online round score card">
        <thead>
          <tr>
            <th id="nav"></th>
            <ng-template [ngTemplateOutlet]="TableHeader"></ng-template>
            <th id="par">Par</th>
            <th id="si">Si</th>
          </tr>
        </thead>
        <tbody>
          @for (stroke of strokesSgn(); track stroke; let i = $index) {
            <tr [ngClass]="i === curHoleIdxSgn() ? 'fw-bolder' : {}">
              @if (i === curHoleIdxSgn()) {
                <td>
                  <a>
                    <fa-icon [icon]="faPlaySgn()" class="golf-green fa-xl"></fa-icon>
                  </a>
                </td>
              }
              @if (i != curHoleIdxSgn()) {
                <td>
                  <a (click)="selectHole(i)">
                    <fa-icon [icon]="faPlaySgn()" class="golf-gray"></fa-icon>
                  </a>
                </td>
              }
              <td>
                {{i + 1}}
              </td>
              @for (onlineRound of onlineRoundsSgn(); track onlineRound; let pl = $index) {
                @if (displayModeSgn() !== 3) {
                  <td>
                    @if (stroke[pl] > 0 && stroke[pl] < 16 && displayModeSgn() === 0) {
                      <span>{{stroke[pl]}}</span>
                      <span class="supsub">
                        <span class="superscript">
                          <span class="dotSeparator"></span>
                          @for (putt of puttsSgn()[i][pl] | range; track putt) {
                            <span>
                              <span class="blackDot"></span>
                              <span class="dotSeparator"></span>
                            </span>
                          }
                        </span>
                        <span class="subscript">
                          <span class="dotSeparator"></span>
                          @for (penalty of penaltiesSgn()[i][pl] | range; track penalty) {
                            <span>
                              <span class="redDot"></span>
                              <span class="dotSeparator"></span>
                            </span>
                          }
                        </span>
                      </span>
                    }
                    @if (stroke[pl] === 16  && displayModeSgn() === 0) {
                      <span>x</span>
                    }
                    @if (stroke[pl] > 0 && displayModeSgn() === 1) {
                      <span>{{stbNetSgn()[pl][i]}}</span>
                    }
                    @if (stroke[pl] > 0 && displayModeSgn() === 2) {
                      <span>{{strNetSgn()[pl][i]}}</span>
                    }
                  </td>
                }

                @if (displayModeSgn() === 3) {
                  <td [ngClass]="skinSgn()[pl][i]">

                    @if (skinSgn()[pl][i] !== 'highlight') {
                      {{skinSgn()[pl][i]}}
                    }


                  </td>
                }
              }
              <td>
                {{courseSgn().holes[i].par}}
              </td>
              <td>
                {{courseSgn().holes[i].si}}
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    @if (loggedIdSgn() === ownerIdSgn()) {
      <div>
        <br />
        <div class="form-group">
          <button type="button" mat-raised-button color="warn" (click)="onDelete()">
            @if (loadingDelSgn()) {
              <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            <span i18n="@@onlnRnd-delete">Delete</span>
          </button>
          &nbsp;
          <button type="button" mat-raised-button color="primary" (click)="onFinal()">
            @if (loadingFinSgn()) {
              <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            <span i18n="@@onlnRnd-fin">Finalize</span>
          </button>
          &nbsp;
          <button type="button" mat-raised-button color="primary" (click)="onInfo()">
            <span>Info</span>
          </button>
        </div>
      </div>
    }
  </div>
}

<ng-template #TableHeader >
  <th id="hole" i18n="@@onlnRnd-hole">Hole</th>
  <th id="p1str">{{onlineRoundsSgn()[0].player.nick}}
    @if (ballPickedUpSgn()[0] && displayModeSgn() === 0) {
      <span>
        (x)
      </span>
    }
    @if (!ballPickedUpSgn()[0] && displayModeSgn() === 0) {
      <span>
        ({{totalStrokesSgn()[0]}})
      </span>
    }
    @if (displayModeSgn() === 1) {
      <span>
        ({{totalStbNetSgn()[0]}})
      </span>
    }
    @if (displayModeSgn() === 2) {
      <span>
        ({{totalStrNetSgn()[0]}})
      </span>
    }
    @if (displayModeSgn() === 3) {
      <span>
        ({{totalSkinSgn()[0]}})
      </span>
    }
  </th>
  @if (onlineRoundsSgn().length > 1) {
    <th id="p2str">{{onlineRoundsSgn()[1].player.nick}}
      @if (ballPickedUpSgn()[1]  && displayModeSgn() === 0) {
        <span>
          (x)
        </span>
      }
      @if (!ballPickedUpSgn()[1]  && displayModeSgn() === 0) {
        <span>
          ({{totalStrokesSgn()[1]}})
        </span>
      }
      @if (displayModeSgn() === 1) {
        <span>
          ({{totalStbNetSgn()[1]}})
        </span>
      }
      @if (displayModeSgn() === 2) {
        <span>
          ({{totalStrNetSgn()[1]}})
        </span>
      }
      @if (displayModeSgn() === 3) {
        <span>
          ({{totalSkinSgn()[1]}})
        </span>
      }
    </th>
  }
  @if (onlineRoundsSgn().length > 2) {
    <th id="p3str">{{onlineRoundsSgn()[2].player.nick}}
      @if (ballPickedUpSgn()[2]  && displayModeSgn() === 0) {
        <span>
          (x)
        </span>
      }
      @if (!ballPickedUpSgn()[2]  && displayModeSgn() === 0) {
        <span>
          ({{totalStrokesSgn()[2]}})
        </span>
      }
      @if (displayModeSgn() === 1) {
        <span>
          ({{totalStbNetSgn()[2]}})
        </span>
      }
      @if (displayModeSgn() === 2) {
        <span>
          ({{totalStrNetSgn()[2]}})
        </span>
      }
      @if (displayModeSgn() === 3) {
        <span>
          ({{totalSkinSgn()[2]}})
        </span>
      }
    </th>
  }
  @if (onlineRoundsSgn().length > 3) {
    <th id="p4str">{{onlineRoundsSgn()[3].player.nick}}
      @if (ballPickedUpSgn()[3]  && displayModeSgn() === 0) {
        <span>
          (x)
        </span>
      }
      @if (!ballPickedUpSgn()[3] && displayModeSgn() === 0) {
        <span>
          ({{totalStrokesSgn()[3]}})
        </span>
      }
      @if (displayModeSgn() === 1) {
        <span>
          ({{totalStbNetSgn()[3]}})
        </span>
      }
      @if (displayModeSgn() === 2) {
        <span>
          ({{totalStrNetSgn()[3]}})
        </span>
      }
      @if (displayModeSgn() === 3) {
        <span>
          ({{totalSkinSgn()[3]}})
        </span>
      }
    </th>
  }
</ng-template>
