@if (!display) {
  <div class="d-flex justify-content-center">
    <span class="spinner-border text-success" style="width: 3rem; height: 3rem;"></span>
  </div>
}
@if (display) {
  <div>
    <app-common-scorecard-top [curHoleStrokes] = 'curHoleStrokes'
      [curPlayerIdx] = 'curPlayerIdx'
      [puttSelectorActive] = 'puttSelectorActive'
      [rounds] = 'onlineRounds'
      [curHolePutts] = 'curHolePutts'
      [penaltySelectorActive] = 'penaltySelectorActive'
      [curHolePenalties] = 'curHolePenalties'
      [addScore] = 'addScore.bind(this)'
      [curHoleIdx] = 'curHoleIdx'
      [ballPickedUp] = 'ballPickedUp'
      [totalStrokes] = 'totalStrokes'
      [counter] = 'counter.bind(this)'
      [calculateStyle] = 'calculateStyle.bind(this)'
      [inProgress] = 'inProgress'>
    </app-common-scorecard-top>
    <div>
      <div>
        <h3>
          <span>
            SC
          </span>
          &nbsp;
          <button class="btn btn-outline-success" (click)="selectMode(0)" [ngClass]="{'golf-red': displayMode === 0}">
            STR
          </button>
          &nbsp;
          <button class="btn btn-outline-success" (click)="selectMode(2)" [ngClass]="{'golf-red': displayMode === 2}">
            STN
          </button>
          &nbsp;
          <button class="btn btn-outline-success" (click)="selectMode(1)" [ngClass]="{'golf-red': displayMode === 1}">
            STB
          </button>
          @if (onlineRounds.length > 2) {
            &nbsp;
            <button class="btn btn-outline-success" (click)="selectMode(3)" [ngClass]="{'golf-red': displayMode === 3}">
              SKN
            </button>
          }
        </h3>
      </div>
      <table id="holeStake-tbl" class="table table-bordered" aria-describedby="Online round score card">
        <thead>
          <tr>
            <th id="nav"></th>
            <ng-template [ngTemplateOutlet]="TableHeader"></ng-template>
            <th id="par">Par</th>
            <th id="si">Si</th>
          </tr>
        </thead>
        <tbody>
          @for (stroke of strokes; track stroke; let i = $index) {
            <tr [ngClass]="i === curHoleIdx ? 'fw-bolder' : {}">
              @if (i === curHoleIdx) {
                <td>
                  <a>
                    <fa-icon [icon]="faPlay" class="golf-green fa-xl"></fa-icon>
                  </a>
                </td>
              }
              @if (i != curHoleIdx) {
                <td>
                  <a (click)="selectHole(i)">
                    <fa-icon [icon]="faPlay" class="golf-gray"></fa-icon>
                  </a>
                </td>
              }
              <td>
                {{i + 1}}
              </td>
              @for (onlineRound of onlineRounds; track onlineRound; let pl = $index) {
                @if (displayMode !== 3) {
                  <td>
                    @if (stroke[pl] > 0 && stroke[pl] < 16 && displayMode === 0) {
                      <span>{{stroke[pl]}}</span>
                      <span class="supsub">
                        <span class="superscript">
                          <span class="dotSeparator"></span>
                          @for (putt of counter(putts[i][pl]); track putt) {
                            <span>
                              <span class="blackDot"></span>
                              <span class="dotSeparator"></span>
                            </span>
                          }
                        </span>
                        <span class="subscript">
                          <span class="dotSeparator"></span>
                          @for (penalty of counter(penalties[i][pl]); track penalty) {
                            <span>
                              <span class="redDot"></span>
                              <span class="dotSeparator"></span>
                            </span>
                          }
                        </span>
                      </span>
                    }
                    @if (stroke[pl] === 16  && displayMode === 0) {
                      <span>x</span>
                    }
                    @if (stroke[pl] > 0 && displayMode === 1) {
                      <span>{{stbNet[pl][i]}}</span>
                    }
                    @if (stroke[pl] > 0 && displayMode === 2) {
                      <span>{{strNet[pl][i]}}</span>
                    }
                  </td>
                }

                @if (displayMode === 3) {
                  <td [ngClass]="skin[pl][i]">

                    @if (skin[pl][i] !== 'highlight') {
                      {{skin[pl][i]}}
                    }


                  </td>
                }
              }
              <td>
                {{course.holes[i].par}}
              </td>
              <td>
                {{course.holes[i].si}}
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div>
      <br />
      <div class="form-group">
        <button type="button" mat-raised-button color="warn" (click)="onDelete()">
          @if (loadingDel) {
            <span class="spinner-border spinner-border-sm mr-1"></span>
          }
          <span i18n="@@onlnRnd-delete">Delete</span>
        </button>
        &nbsp;
        <button type="button" mat-raised-button color="primary" (click)="onFinal()">
          @if (loadingFin) {
            <span class="spinner-border spinner-border-sm mr-1"></span>
          }
          <span i18n="@@onlnRnd-fin">Finalize</span>
        </button>
      </div>
    </div>
  </div>
}

<ng-template #TableHeader >
  <th id="hole" i18n="@@onlnRnd-hole">Hole</th>
  <th id="p1str">{{onlineRounds[0].player.nick}}
    @if (ballPickedUp[0] && displayMode === 0) {
      <span>
        (x)
      </span>
    }
    @if (!ballPickedUp[0] && displayMode === 0) {
      <span>
        ({{totalStrokes[0]}})
      </span>
    }
    @if (displayMode === 1) {
      <span>
        ({{totalStbNet[0]}})
      </span>
    }
    @if (displayMode === 2) {
      <span>
        ({{totalStrNet[0]}})
      </span>
    }
    @if (displayMode === 3) {
      <span>
        ({{totalSkin[0]}})
      </span>
    }
  </th>
  @if (onlineRounds.length > 1) {
    <th id="p2str">{{onlineRounds[1].player.nick}}
      @if (ballPickedUp[1]  && displayMode === 0) {
        <span>
          (x)
        </span>
      }
      @if (!ballPickedUp[1]  && displayMode === 0) {
        <span>
          ({{totalStrokes[1]}})
        </span>
      }
      @if (displayMode === 1) {
        <span>
          ({{totalStbNet[1]}})
        </span>
      }
      @if (displayMode === 2) {
        <span>
          ({{totalStrNet[1]}})
        </span>
      }
      @if (displayMode === 3) {
        <span>
          ({{totalSkin[1]}})
        </span>
      }
    </th>
  }
  @if (onlineRounds.length > 2) {
    <th id="p3str">{{onlineRounds[2].player.nick}}
      @if (ballPickedUp[2]  && displayMode === 0) {
        <span>
          (x)
        </span>
      }
      @if (!ballPickedUp[2]  && displayMode === 0) {
        <span>
          ({{totalStrokes[2]}})
        </span>
      }
      @if (displayMode === 1) {
        <span>
          ({{totalStbNet[2]}})
        </span>
      }
      @if (displayMode === 2) {
        <span>
          ({{totalStrNet[2]}})
        </span>
      }
      @if (displayMode === 3) {
        <span>
          ({{totalSkin[2]}})
        </span>
      }
    </th>
  }
  @if (onlineRounds.length > 3) {
    <th id="p4str">{{onlineRounds[3].player.nick}}
      @if (ballPickedUp[3]  && displayMode === 0) {
        <span>
          (x)
        </span>
      }
      @if (!ballPickedUp[3] && displayMode === 0) {
        <span>
          ({{totalStrokes[3]}})
        </span>
      }
      @if (displayMode === 1) {
        <span>
          ({{totalStbNet[3]}})
        </span>
      }
      @if (displayMode === 2) {
        <span>
          ({{totalStrNet[3]}})
        </span>
      }
      @if (displayMode === 3) {
        <span>
          ({{totalSkin[3]}})
        </span>
      }
    </th>
  }
</ng-template>
