@if (courseNavigationService.tees().length > 0) {
  <div>
    <table id="tee-tbl" class="table table-striped" aria-describedby="Add tee">
      <thead>
        <tr>
          <th id="tee">Tee</th>
          <th id="cr">CR</th>
          <th id="sr">SR</th>
          <th id="type" i18n="@@addCourse-type">Type</th>
          @if (courseNavigationService.removeTee()) {
            <th></th>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of courseNavigationService.tees(); track row) {
          <tr>
            <td>{{ row.tee }}
              @if (row.sex) {
                <span i18n="@@addCourse-ladies">ladies</span>
              }
              @if (!row.sex) {
                <span i18n="@@addCourse-men">men</span>
              }
            </td>
            <td>{{ row.cr }}</td>
            <td>{{ row.sr }}</td>
            @if (row.teeType === 0) {
              <td>1-18</td>
            }
            @if (row.teeType === 1) {
              <td>1-9</td>
            }
            @if (row.teeType === 2) {
              <td>10-18</td>
            }
            @if (courseNavigationService.removeTee()) {
              <td>
                <fa-icon [icon]="faMinusCircle" class="golf-green" (click)="deleteTee(row)" onKeyDown="deleteTee(row)"></fa-icon>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
}
