<div *ngIf="display">
  <h2>{{ onlineRound.course.name }} : &nbsp; {{ onlineRound.teeTime }} &nbsp; Player: &nbsp; {{onlineRound.player.nick}}
  </h2>
  <br/>
  <div class="table-responsive">
  <table id="holeStake-tbl" class="table table-bordered">
  <thead>
    <tr>
      <th>Hole</th>
      <th *ngFor="let i = index of counter(9)" class="w-5">
        {{i + 1}}
      </th>
      <th>OUT</th>
      <th *ngFor="let i = index of counter(9)" class="w-5">
        {{i + 10}}
      </th>
      <th>IN</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>PAR</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{onlineRound.course.holes[i].par}}
      </td>
      <th class="center">{{first9par}}</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{onlineRound.course.holes[i + 9].par}}
      </td>
      <th class="center">{{last9par}}</th>
      <th class="center">{{first9par + last9par}}</th>
    </tr>
    <tr>
      <th>SI</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{onlineRound.course.holes[i].si}}
      </td>
      <th></th>
      <td *ngFor="let i = index of counter(9)" class="center">
        {{onlineRound.course.holes[i + 9].si}}
      </td>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Score</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        <span *ngIf="onlineScoreCard[i] != null">
          {{onlineScoreCard[i].stroke}}
        </span>
      </td>
      <th class="center">{{first9score}}</th>
      <td *ngFor="let i = index of counter(9)" class="center">
        <span *ngIf="onlineScoreCard[i + 9] != null">
          {{onlineScoreCard[i + 9].stroke}}
        </span>
      </td>
      <th class="center">{{last9score}}</th>
      <th class="center">{{first9score + last9score}}</th>
    </tr>
  </tbody>
  </table>
  </div>
  <div>
</div>
<br />
<button type="button" class="btn btn-success" routerLink="">
  Cancel
</button>
</div>
