/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blackDot {
  height: 7px;
  width: 7px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.redDot {
  height: 7px;
  width: 7px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dotSeparator {

  width: 2px;
  height: 2px;
  display: inline-block;
}

.supsub {position: absolute}
.subscript {display:block; position:relative; left:2px; top: -20px}
.superscript {display:block; position:relative; left:2px; top: -5px}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.golf-green {
  color: #198754 !important;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.golf-margin-top {
  display: inline-block;
  margin-top: 1rem;
}

.golf-padding {
  padding: 6px;
}


.form-check-input-green:checked {
  border-color: #198754 !important;
  background-color: #198754 !important;
}

.form-check-input-green:not(:checked) {
  border-color: #28a745 !important;
}

.form-check-input-green:focus {
  border-color: #198754 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.highlight {
  background-color: #198754 !important;
  color: white;
}

.no-highlight {
  background-color: white;
  color: black;
}

.highlightHcp {
  background-color: #1bff0742 !important;
}
