/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; touch-action: pan-x pan-y;}

.blackDot {
  height: 7px;
  width: 7px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.redDot {
  height: 7px;
  width: 7px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dotSeparator {

  width: 2px;
  height: 2px;
  display: inline-block;
}

.supsub {position: absolute}
.subscript {display:block; position:relative; left:2px; top: -20px}
.superscript {display:block; position:relative; left:2px; top: -5px}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.golf-green {
  color: #198754 !important;
}

.golf-margin-top {
  display: inline-block;
  margin-top: 1rem;
}

.golf-margin-top-6 {
  display: inline-block;
  margin-top: 6px !important;
}

.golf-padding {
  padding: 6px;
}


.form-check-input-green:checked {
  border-color: #198754 !important;
  background-color: #198754 !important;
}

.form-check-input-green:not(:checked) {
  border-color: #28a745 !important;
}

.form-check-input-green:focus {
  border-color: #198754 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.highlight {
  background-color: #198754 !important;
  color: white;
}

.no-highlight {
  background-color: white;
  color: black;
}

.highlightHcp {
  background-color: #1bff0742 !important;
}

.golf-red {
  color: red !important;
}

.golf-orange {
  color: orange !important;
}

.golf-gold {
  color: darkkhaki !important;
}

.search {
  margin-top: 5px !important;
}

.mdc-checkbox  {
  margin: 2px 8px auto 0;
}

.golf-margin-top-15 {
  margin-top: 15px  !important;
}

.golf-thick {
  font-weight: bold;
}

.golf-width-150 {
  width: 150px !important;
}

.golf-width-160 {
  width: 160px !important;
}

.golf-width-210 {
  width: 210px !important;
}

.golf-width-300 {
  width: 300px !important;
}

.golf-margin-bottom-6 {
  margin-bottom: 6px !important;
}

.golf-background-red {
  background-color: red !important;
}

.w-5 {
  width: 4% !important;
  min-width: 36px;
  text-align: center;
}

.center {
  text-align: center;
  vertical-align: middle;
}



