<div *ngIf="!display" class="d-flex justify-content-center">
  <span class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status"></span>
</div>
<div *ngIf="display">
  <form [formGroup]="defScoreCardForm">
    <div>
      <h2>
        {{course.name}}
      </h2>
    </div>
    <div class="golf-margin-top-15">
      <mat-form-field>
        <mat-label>Tee time</mat-label>
        <input matInput maxlength="5" [formControlName]="'teeTime'" />
        @if (f.teeTime.invalid && f.teeTime.errors.required) {
          <mat-error i18n="@@onlnRndDef-timReq">Tee time is required</mat-error>
        }
        @if (f.teeTime.invalid && f.teeTime.errors.pattern) {
          <mat-error i18n="@@onlnRndDef-timPatt">Provide the valid tee time</mat-error>
        }

      </mat-form-field>
  </div>

    <div >
      <input type="checkbox" class="form-check-input form-check-input-green" id="matchPlay" formControlName="matchPlay"
        (ngModelChange)="onMatchPlayChange($event)">
      <label for="matchPlay">&nbsp; <span i18n="@@onlnRndDef-mpRnd">Match Play Round</span></label>
    </div>

    <div *ngIf="f.matchPlay.value" class="row golf-margin-top">
      <div class="col">
        <input type="radio" name="mpFormat" id="mpFormat1" value="1" formControlName="mpFormat"  class="form-check-input form-check-input-green">
        <label class="custom-control-label green" for="mpFormat1">100%</label>
        &nbsp;
        <input type="radio" name="mpFormat" id="mpFormat2" value="0.9" formControlName="mpFormat"  class="form-check-input form-check-input-green">
        <label class="custom-control-label green" for="mpFormat2">90%</label>
        &nbsp;
        <input type="radio" name="mpFormat" id="mpFormat3" value="0.75" formControlName="mpFormat"  class="form-check-input form-check-input-green" checked>
        <label class="custom-control-label green" for="mpFormat3">75% (3/4)</label>
        &nbsp;
        <input type="radio" name="mpFormat" id="mpFormat4" value="0.50" formControlName="mpFormat"  class="form-check-input form-check-input-green">
        <label class="custom-control-label green" for="mpFormat4">50% (1/2)</label>
      </div>
    </div>

    <div class="row golf-margin-top-15">
      <div class="col">
        <div class="btn-group" role="group" aria-label="Number of players">
          <input type="radio" name="players" class="btn-check" id="player1" autocomplete="off" (click)="onPlayers(1)">
          <label class="btn btn-outline-success" [ngClass]="{disabled: f.matchPlay.value, active: noOfPlayers === 1}"
            i18n="@@onlnRndDef-p1Btn" (click)="onPlayers(1)">1 player</label>

          <input type="radio" name="players" class="btn-check" id="player2" autocomplete="off" (click)="onPlayers(2)">
          <label class="btn btn-outline-success" [ngClass]="{disabled: f.matchPlay.value, active: noOfPlayers === 2}"
            i18n="@@onlnRndDef-p2Btn" (click)="onPlayers(2)">2 players</label>

          <input type="radio" name="players" class="btn-check" id="player3" autocomplete="off" (click)="onPlayers(3)">
          <label class="btn btn-outline-success" [ngClass]="{disabled: f.matchPlay.value, active: noOfPlayers === 3}"
            i18n="@@onlnRndDef-p3Btn" (click)="onPlayers(3)">3 players</label>

          <input type="radio" name="players"  class="btn-check" id="player4" autocomplete="off" (click)="onPlayers(4)">
          <label class="btn btn-outline-success" [ngClass]="{disabled: f.matchPlay.value, active: noOfPlayers === 4}"
            i18n="@@onlnRndDef-p4Btn" (click)="onPlayers(4)">4 players</label>
        </div>
      </div>
    </div>

    <div class="row golf-margin-top-15">

        <div class="col-auto">
          <mat-form-field>
            <mat-label i18n="@@onlnRndDef-p1">Player 1 username</mat-label>
            <input matInput [formControlName]="'nick1'" />
          </mat-form-field>
          <span class="mat-mdc-text-field-wrapper">
            <fa-icon [icon]="faCheckCircle" class="golf-green golf-padding mat-mdc-text-field-wrapper"></fa-icon>
          </span>
        </div>

        <div class="col-auto">
          <mat-form-field>
            <mat-label>tee</mat-label>
            <mat-select [formControlName]="'teeDropDown1'" (selectionChange)="teeChange(0)">
              @for (teeOption of getTeeOptions(0); track teeOption) {
                <mat-option [value]="teeOption.value">{{teeOption.label}}</mat-option>
              }
            </mat-select>
            @if (f.teeDropDown1.invalid && f.teeDropDown1.errors) {
              <mat-error i18n="@@onlnRndDef-teeReq">Tee is required</mat-error>
            }

          </mat-form-field>
          <span *ngIf="tees[0] != null">
            <fa-icon [icon]="faCheckCircle" class="golf-green golf-padding"></fa-icon>
          </span>
          <span class="golf-padding">
            <button type="button" id="p0Btn" class="btn btn-success" (click)="updateWHS(0)" i18n="@@onlnRndDef-hcpUpd">
              HCP update
            </button>
          </span>
        </div>
    </div>

    @if (noOfPlayers > 1) {
      <div class="row golf-margin-top-15">
        <div class="col-auto">
          <mat-form-field>
            <mat-label i18n="@@onlnRndDef-p2">Player 2 username</mat-label>
            <input matInput [formControlName]="'nick2'" />
            @if (f.nick2.invalid && f.nick2.errors.required) {
              <mat-error i18n="@@onlnRndDef-nickReq">Player nick is required</mat-error>
            }
            @if (f.nick2.invalid && f.nick2.errors.maxlength) {
              <mat-error i18n="@@onlnRndDef-nickTooLenght">Nick cannot be longer than 20 characters</mat-error>
            }
          </mat-form-field>
          <span class="golf-padding">
            @if (players[1] == null) {
              <fa-icon [icon]="faSearchPlus" class="golf-green" (click)="onSearchPlayer(1)"></fa-icon>
            }
            @if (players[1] != null) {
              <fa-icon [icon]="faCheckCircle" class="golf-green"></fa-icon>
            }
          </span>
        </div>
        <div class="col-auto">
          <mat-form-field>
            <mat-label>tee</mat-label>
            <mat-select [formControlName]="'teeDropDown2'" (selectionChange)="teeChange(1)">
              @for (teeOption of getTeeOptions(1); track teeOption) {
                <mat-option [value]="teeOption.value">{{teeOption.label}}</mat-option>
              }
            </mat-select>
            @if (f.teeDropDown2.invalid && f.teeDropDown2.errors) {
              <mat-error i18n="@@onlnRndDef-teeReq">Tee is required</mat-error>
            }

          </mat-form-field>
          @if(tees[1] != null) {
            <fa-icon [icon]="faCheckCircle" class="golf-green golf-padding"></fa-icon>
          }
          <span class="golf-padding">
            <button type="button" id="p1Btn" class="btn btn-success" (click)="updateWHS(1)" i18n="@@onlnRndDef-hcpUpd">
              HCP update
            </button>
          </span>
          @if (searchInProgress[1]) {
            <span class="spinner-border text-success" role="status"></span>
          }
        </div>
      </div>
    }

    @if (noOfPlayers > 2) {
      <div class="row golf-margin-top-15">
        <div class="col-auto">
          <mat-form-field>
            <mat-label i18n="@@onlnRndDef-p3">Player 3 username</mat-label>
            <input matInput [formControlName]="'nick3'" />
            @if (f.nick3.invalid && f.nick3.errors.required) {
              <mat-error i18n="@@onlnRndDef-nickReq">Player nick is required</mat-error>
            }
            @if (f.nick3.invalid && f.nick3.errors.maxlength) {
              <mat-error i18n="@@onlnRndDef-nickTooLenght">Nick cannot be longer than 20 characters</mat-error>
            }
          </mat-form-field>
          <span class="golf-padding">
            @if (players[2] == null) {
              <fa-icon [icon]="faSearchPlus" class="golf-green" (click)="onSearchPlayer(2)"></fa-icon>
            }
            @if (players[2] != null) {
              <fa-icon [icon]="faCheckCircle" class="golf-green"></fa-icon>
            }
          </span>
        </div>
        <div class="col-auto">
          <mat-form-field>
            <mat-label>tee</mat-label>
            <mat-select [formControlName]="'teeDropDown3'" (selectionChange)="teeChange(2)">
              @for (teeOption of getTeeOptions(2); track teeOption) {
                <mat-option [value]="teeOption.value">{{teeOption.label}}</mat-option>
              }
            </mat-select>
            @if (f.teeDropDown3.invalid && f.teeDropDown3.errors) {
              <mat-error i18n="@@onlnRndDef-teeReq">Tee is required</mat-error>
            }

          </mat-form-field>
          @if(tees[2] != null) {
            <fa-icon [icon]="faCheckCircle" class="golf-green golf-padding"></fa-icon>
          }
          <span class="golf-padding">
            <button type="button" id="p2Btn" class="btn btn-success" (click)="updateWHS(2)" i18n="@@onlnRndDef-hcpUpd">
              HCP update
            </button>
          </span>
          @if (searchInProgress[2]) {
            <span class="spinner-border text-success" role="status"></span>
          }
        </div>
      </div>
    }

    @if (noOfPlayers > 3) {
      <div class="row golf-margin-top-15">
        <div class="col-auto">
          <mat-form-field>
            <mat-label i18n="@@onlnRndDef-p4">Player 4 username</mat-label>
            <input matInput [formControlName]="'nick4'" />
            @if (f.nick4.invalid && f.nick4.errors.required) {
              <mat-error i18n="@@onlnRndDef-nickReq">Player nick is required</mat-error>
            }
            @if (f.nick4.invalid  && f.nick4.errors.maxlength) {
              <mat-error i18n="@@onlnRndDef-nickTooLenght">Nick cannot be longer than 20 characters</mat-error>
            }
          </mat-form-field>
          <span class="golf-padding">
            @if (players[3] == null) {
              <fa-icon [icon]="faSearchPlus" class="golf-green" (click)="onSearchPlayer(3)"></fa-icon>
            }
            @if (players[3] != null) {
              <fa-icon [icon]="faCheckCircle" class="golf-green"></fa-icon>
            }
          </span>
        </div>
        <div class="col-auto">
          <mat-form-field>
            <mat-label>tee</mat-label>
            <mat-select [formControlName]="'teeDropDown4'" (selectionChange)="teeChange(3)">
              @for (teeOption of getTeeOptions(3); track teeOption) {
                <mat-option [value]="teeOption.value">{{teeOption.label}}</mat-option>
              }
            </mat-select>
            @if (f.teeDropDown4.invalid  && f.teeDropDown4.errors) {
              <mat-error i18n="@@onlnRndDef-teeReq">Tee is required</mat-error>
            }

          </mat-form-field>
          @if(tees[3] != null) {
            <fa-icon [icon]="faCheckCircle" class="golf-green golf-padding"></fa-icon>
          }
          <span class="golf-padding">
            <button type="button" id="p3Btn" class="btn btn-success" (click)="updateWHS(3)" i18n="@@onlnRndDef-hcpUpd">
              HCP update
            </button>
          </span>
          @if (searchInProgress[3]) {
            <span class="spinner-border text-success" role="status"></span>
          }
        </div>
      </div>
    }

    <div class="golf-margin-top">
      <input type="checkbox" class="form-check-input form-check-input-green" id="customCheck1" formControlName="putts"/>
      <label for="customCheck1">&nbsp; <span i18n="@@onlnRndDef-inclPutt">Include putts (optional)</span></label>
    </div>
    <div>
      <input type="checkbox" class="form-check-input form-check-input-green" id="customCheck2" formControlName="penalties"/>
      <label for="customCheck2">&nbsp; <span i18n="@@onlnRndDef-inclPen">Include penalties (optional)</span></label>
    </div>

  </form>
  <div>
    <br />
    <div class="form-group">
      <button type="button" class="btn btn-success" routerLink="/home" i18n="@@onlnRndDef-cancel">
        Cancel
      </button>
      &nbsp;
      <button type="button" class="btn btn-success" (click)="onStartOnlineRound()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        <span i18n="@@onlnRndDef-start">Start</span>
      </button>
    </div>
    <span i18n="@@onlnRndDef-note">Note: Social media players are created using the first name, dot and first two letters from the last name e.g. Darth.Va if player name is Darth Vader</span>
  </div>
</div>
