<div *ngIf="!isDisplay()" class="d-flex justify-content-center">
  <span class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status"></span>
</div>
<div *ngIf="isDisplay()" id="pdfData">
  <h2>
    {{navigationService.league().name}}
  </h2>

  <br/>
  <ul class="nav nav-tabs" id="myTab" role="tablist" data-html2canvas-ignore="true">
    <li class="nav-item">
      <button class="nav-link active" id="results-tab" data-bs-toggle="tab" data-bs-target="#results" type="button"
        role="tab" aria-controls="results" aria-selected="true" i18n="@@league-results">Results</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="matches-tab" data-bs-toggle="tab" data-bs-target="#matches" type="button"
        role="tab" aria-controls="matches" aria-selected="false" i18n="@@league-matches">Matches</button>
    </li>
    <li class="nav-item" *ngIf="navigationService.league().player.id === authenticationService.currentPlayerValue.id">
      <button class="nav-link" id="players-tab" data-bs-toggle="tab" data-bs-target="#players" type="button"
        role="tab" aria-controls="players" aria-selected="false" i18n="@@league-players" (click)="loadComponent(0)">Players</button>
    </li>
  </ul>
  <br/>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="results" role="tabpanel" aria-labelledby="results-tab">
      <table id="tee-tbl" class="table table-striped" aria-describedby="results">
        <thead>
          <tr>
            <th id="no" i18n="@@league-no">No.</th>
            <th id="nick" i18n="@@league-nick">Nick</th>
            <th id="big" i18n="@@league-big">Big Points</th>
            <th id="small" i18n="@@league-small">Small Points</th>
            <th id="small" i18n="@@league-matches">Matches</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of navigationService.results(), let idx = index">
            <td>{{idx + 1}}</td>
            <td>{{row.nick }}</td>
            <td>{{row.big}} </td>
            <td>{{row.small}} </td>
            <td>{{row.matchesPlayed}}/{{navigationService.players().length - 1}} </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="tab-pane fade" id="matches" role="tabpanel" aria-labelledby="matches-tab">
      <div class="table-responsive">
      <table *ngIf="navigationService.players().length > 1" id="tee-tbl" class="table table-bordered" aria-describedby="results">
        <thead>
          <tr>
            <th id="empty" class="w-15"></th>
            <th id="plr" class="w-15 center" *ngFor="let header of navigationService.players()" style="color: red;">
              {{header.nick}}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of navigationService.players(), let rowId = index">
            <th id="nck" class="w-15">{{row.nick}}</th>
            <td class="w-15 center" *ngFor="let data of navigationService.players(), let index = index" [ngStyle]="{'background': (rowId >= index) ? 'grey' : 'white'}">
              <span *ngIf="rowId < index && navigationService.matchesForDisplay()[rowId][index].result === 'A/S'" class="golf-green" >
                {{navigationService.matchesForDisplay()[rowId][index].result}}
              </span>
              <span *ngIf="rowId < index && navigationService.matchesForDisplay()[rowId][index].result !== 'A/S'"  [ngStyle]="{'color': navigationService.matchesForDisplay()[rowId][index].winner === true ? 'red' : 'black'}" >
                {{navigationService.matchesForDisplay()[rowId][index].result}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="tab-pane fade" id="players" role="tabpanel" aria-labelledby="players-tab">
      <ng-container #leagueContainer></ng-container>
    </div>

  </div>
  <br />
  <div class="row">
    <span>
    <button type="button" class="btn btn-success golf-margin-bottom-6" routerLink="/mpLeagues" i18n="@@tourRes-cancel">
      Cancel
    </button>
    &nbsp;
    <span *ngIf="navigationService.league().player.id === playerId && navigationService.league().status === false">
      <button id="add_btn" type="button" class="btn btn-success golf-margin-bottom-6" routerLink="/mpLeagues/addMatch">
        <span i18n="@@league-addMatch">Add Match</span>
      </button>
      &nbsp;
      <button id="remove_btn" type="button" class="btn btn-success golf-margin-bottom-6" routerLink="/mpLeagues/removeMatch">
        <span i18n="@@league-removeMatch">Remove Match</span>
      </button>
      &nbsp;
      <button id="close_btn" type="button" class="btn btn-success golf-margin-bottom-6" (click)="closeLeague()">
        <span *ngIf="isLoadingClose()" class="spinner-border spinner-border-sm mr-1"></span>
        <span i18n="@@league-close">Close league</span>
      </button>
      &nbsp;
      <button type="button" class="btn btn-success del golf-margin-bottom-6" (click)="deleteLeague()">
        <span *ngIf="isLoadingDelete()" class="spinner-border spinner-border-sm mr-1"></span>
        <span i18n="@@league-delete">Delete league</span>
      </button>
    </span>
  </span>
  </div>
</div>

