<div>
  <h2>Bingo, Bango, Bongo Set Up</h2>
</div>
<br />
<app-game-setup-players [onPlayers] = 'onPlayers.bind(this)'></app-game-setup-players>
<br />
<div class="row">
  <div class="col-sm-3">
    Stake:
  </div>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-success active buttonWidth">
      <input type="radio" name="stake" id="stake_3" autocomplete="off" checked (click)="onStake(0.3)"> 0.3
    </label>
    <label class="btn btn-outline-success buttonWidth">
      <input type="radio" name="stake" id="stake_6" autocomplete="off" (click)="onStake(0.6)"> 0.6
    </label>
    <label class="btn btn-outline-success  buttonWidth">
      <input type="radio" name="stake" id="stake_9" autocomplete="off" (click)="onStake(0.9)"> 0.9
    </label>
  </div>
</div>
<br />
<app-game-setup-nicks [stake]='stake' [players]='players' [gameType]='gameType'></app-game-setup-nicks>


