<div >
  <div>
    <button type="button" class="btn-lg btn-success fw-bolder" (click)="onPickUp()">
      x
    </button>
    &nbsp;
    &nbsp;
    &nbsp;
    <button type="button" class="btn-lg btn-success fw-bolder" (click)="onDecrease()">
      &lt;
    </button>
    &nbsp;
    <span class="fw-bolder fs-2" *ngIf="curHoleStrokes[curPlayerIdx] === 16">
      x
    </span>
    <span class="fw-bolder fs-2" *ngIf="curHoleStrokes[curPlayerIdx] !== 16">
      {{curHoleStrokes[curPlayerIdx]}}
      </span>
    &nbsp;
    <button type="button" class="btn-lg btn-success fw-bolder" (click)="onIncrease()">
      &gt;
    </button>
    &nbsp;
    <button type="button" style="width: 6rem;" class="btn-lg btn-success fw-bolder" (click)="addScore()" [disabled]="isActive ? null : true">
      <span *ngIf="isActive" i18n="@@onlnNav-save">
        Save
      </span>
      <span *ngIf="!isActive" class="spinner-border spinner-border-sm mr-1">
      </span>
    </button>
    <div *ngIf="authenticationService.playerRole.includes('ADMIN')" class="golf-padding">
      &nbsp;
      &nbsp;
      <button type="button" class="btn-lg btn-success fw-bolder" (click)="switchMode()">
        <span *ngIf="useWebSocket">web</span>
        <span *ngIf="!useWebSocket">no web</span>
      </button>
      <span *ngIf="useWebSocket && !isActive" class="golf-red">
        &nbsp;
        &nbsp;
        Network failure - wait
      </span>
    </div>
  </div>
</div>
<div *ngIf="rounds[0].putts">
  <br/>
  <div>
    <span i18n="@@onlnNav-putts">Putts</span>
    <span class="blackDot"></span>
  </div>
  <div>
    <div class="btn-group-toggle flex-wrap" data-toggle="buttons">
      <label *ngFor="let putt of buttons; let i = index" class="btn btn-outline-success btn-lg" [ngClass]="puttSelectorActive[i]" (click)="selectPutt(i)">
        {{i}}
      </label>
    </div>
  </div>
</div>
<div *ngIf="rounds[0].penalties">
  <div>
    <span i18n="@@onlnNav-pnlt">Penalties</span>
    <span class="redDot"></span>
  </div>
  <div>
    <div class="btn-group-toggle flex-wrap" data-toggle="buttons">
      <label *ngFor="let penalty of buttons; let i = index" class="btn btn-outline-success btn-lg" [ngClass]="penaltySelectorActive[i]" (click)="selectPenalty(i)">
        {{i}}
      </label>
    </div>
  </div>
</div>
<br/>
