<div class="row golf-theme">
  <div class="col-auto">
    <button type="button" class="btn-lg btn btn-success fw-bolder" (click)="onPickUp()">
      x
    </button>
  </div>
  <div class="col-auto">
    <button type="button" class="btn-lg btn btn-success fw-bolder" (click)="onDecrease()">
      &lt;
    </button>
  </div>
  @if (curHoleStrokes[curPlayerIdx] === 16) {
    <div class="col-auto fw-bolder fs-2">
      x
    </div>
  }
  @if (curHoleStrokes[curPlayerIdx] !== 16) {
    <div class="col-auto fw-bolder fs-2">
      {{curHoleStrokes[curPlayerIdx]}}
    </div>
  }
  <div class="col-auto">
    <button type="button" class="btn-lg btn btn-success fw-bolder" (click)="onIncrease()">
      &gt;
    </button>
  </div>
  <div  class="col-auto">
    <button type="button" style="width: 6rem;" class="btn-lg btn btn-success fw-bolder" (click)="addScore()" [disabled]="isActive ? (inProgress ? true : false) : true">
      @if (isActive && !inProgress) {
        <span i18n="@@onlnNav-save">
        Save
      </span>
      }
      @if (!isActive || inProgress) {
        <span class="spinner-border spinner-border-sm mr-1">
        </span>
      }
    </button>
  </div>
</div>
@if (rounds[0].putts) {
  <div>
    <br/>
    <div>
      <span i18n="@@onlnNav-putts">Putts</span>
      <span class="blackDot"></span>
    </div>
    <div>
      <div class="btn-group-toggle flex-wrap" data-toggle="buttons">
        @for (putt of buttons; track putt; let i = $index) {
          <button class="btn btn-outline-success btn-lg"
            [ngClass]="puttSelectorActive[i]" (click)="selectPutt(i)">
            {{i}}
          </button>
        }
      </div>
    </div>
  </div>
}
@if (rounds[0].penalties) {
  <div>
    <div>
      <span i18n="@@onlnNav-pnlt">Penalties</span>
      <span class="redDot"></span>
    </div>
    <div>
      <div class="btn-group-toggle flex-wrap" data-toggle="buttons">
        @for (penalty of buttons; track penalty; let i = $index) {
          <button class="btn btn-outline-success btn-lg"
            [ngClass]="penaltySelectorActive[i]" (click)="selectPenalty(i)">
            {{i}}
          </button>
        }
      </div>
    </div>
  </div>
}
<br/>
