<div >
  <div>
    <button type="button" class="btn btn-success" (click)="onPickUp()">
      x
    </button>
    &nbsp;
    &nbsp;
    &nbsp;
    <button type="button" class="btn btn-success" (click)="onDecrease()">
      &lt;
    </button>
    &nbsp;
    <span *ngIf="curHoleStrokes[curPlayerIdx] === 16">
      x
    </span>
    <span *ngIf="curHoleStrokes[curPlayerIdx] !== 16">
      {{curHoleStrokes[curPlayerIdx]}}
      </span>
    &nbsp;
    <button type="button" class="btn btn-success" (click)="onIncrease()">
      &gt;
    </button>
    &nbsp;
    <button type="button" class="btn btn-success" (click)="addScore()">
      Save
    </button>
  </div>
</div>
<div *ngIf="rounds[0].putts" class="">
  <br/>
  <div>
    Putts
    <span class="blackDot"></span>
  </div>
  <div>
    <div class="btn-group-toggle flex-wrap" data-toggle="buttons">
      <label *ngFor="let putt of buttons; let i = index" class="btn btn-outline-success buttonWidth" [ngClass]="puttSelectorActive[i]">
        <input type="radio" (click)="selectPutt(i)"> {{i}}
      </label>
    </div>
  </div>
</div>
<div *ngIf="rounds[0].penalties">
  <br/>
  <div>
    Penalties
    <span class="redDot"></span>
  </div>
  <div>
    <div class="btn-group-toggle flex-wrap" data-toggle="buttons">
      <label *ngFor="let penalty of buttons; let i = index" class="btn btn-outline-success buttonWidth" [ngClass]="penaltySelectorActive[i]">
        <input type="radio" (click)="selectPenalty(i)"> {{i}}
      </label>
    </div>
  </div>
</div>
<br/>
